  <div id="chasqui-content-full">
    <div class="archive-box-catalogo">
      <h3 translate>Iniciar sesión</h3>
    </div>
  </div>
<div class="container-fluid ch-content">
	<div layout="column" layout-align="space-around center">
		<div>
			<md-card>
				<md-card-content>
					<md-content>
						<div layout="column" layout-align="center center">
							<md-input-container ng-keyup="$event.keyCode == 13 && loginCtrl.login()">
								<label>Correo electrónico</label>
								<input ng-model="loginCtrl.user.email" type="email">
							</md-input-container>
							<md-input-container ng-keyup="$event.keyCode == 13 && loginCtrl.login()">
								<label>Contraseña</label>
								<input ng-model="loginCtrl.user.password" type="password">
							</md-input-container>
						</div>
					</md-content>
					<div layout="column" layout-align="center center" >
				       <md-button class="btn-confirmar" ng-click="loginCtrl.login()">Ingresar</md-button>
					   <div layout="row" layout-align="center center" class="bloque-usuario">
					   <a md-no-ink class="botontarjetas" ng-click="loginCtrl.recuperar()">Olvidé mi contraseña</a>
                       <element-wrapper not-supported-strategies="nodos">
					   <span style="margin-left: 15px; margin-right: 15px; color:#b0b8bf;">|</span>
                       <a md-no-ink class="botontarjetas" ui-sref="catalog.singUp">REGISTRARME</a>
                        </element-wrapper></div>
                     </div>
					
				</md-card-content>
				
			</md-card>
		</div>
	</div>
</div>
