<div class="ch-confirm-order-summary ch-responsive-layout">
  <div class="ch-confirm-order-summary-products">
    <!--div>
      <span ng-show="order.type == 'PERSONAL'">Productos del pedido: </span>
      <span ng-show="order.type == 'GROUP'">Pago por integrante del grupo: </span>
      <span ng-show="order.type == 'NODE'">Pago por integrante del nodo: </span>
    </div>
-->
    <div class="ch-confirm-order-summary-products-list">
      <div class="ch-confirm-order-summary-products-list-column" style="min-width: 300px;">
        <label class="ch-confirm-order-summary-products-list-column-label">
          PRODUCTO
        </label>
        <div class="ch-confirm-order-summary-products-list-column-item" ng-repeat="product in order.productosResponse">
          <div class="ch-confirm-order-summary-products-list-column-item-data">
            <img ng-src="{{urlBase}}{{product.imagen}}" class="ch-confirm-order-summary-products-list-column-item-img">
            <label class="ch-confirm-order-summary-products-list-column-item-label">
              {{product.nombre}}
            </label>
          </div>
        </div>
      </div>
      <div class="ch-confirm-order-summary-products-list-column">
        <label class="ch-confirm-order-summary-products-list-column-label" style="">
          PRECIO
        </label>
        <div class="ch-confirm-order-summary-products-list-column-item" ng-repeat="product in order.productosResponse">
          <div class="ch-confirm-order-summary-products-list-column-item-price">
            <chq-price-product precio="product.precio" tamanho="1"></chq-price-product>
          </div>
        </div>
      </div>
      <div class="ch-confirm-order-summary-products-list-column">
        <label class="ch-confirm-order-summary-products-list-column-label" style="">
          CANTIDAD
        </label>
        <div class="ch-confirm-order-summary-products-list-column-item" ng-repeat="product in order.productosResponse">
          <div class="ch-confirm-order-summary-products-list-column-item-count">
            {{product.cantidad}}
          </div>
        </div>
      </div>
      <div class="ch-confirm-order-summary-products-list-column">
        <label class="ch-confirm-order-summary-products-list-column-label" style="">
          TOTAL
        </label>
        <div class="ch-confirm-order-summary-products-list-column-item" ng-repeat="product in order.productosResponse">
          <div class="ch-confirm-order-summary-products-list-column-item-total">
            <chq-price-product precio="product.cantidad * product.precio" tamanho="1"></chq-price-product>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="ch-confirm-order-summary-total">
    <div class="ch-confirm-order-summary-total-header">
      <label class="ch-confirm-order-summary-total-header-label">
        TOTAL DEL CHANGUITO
      </label>
    </div>
        
    <md-list-item ng-show="order.type == 'GROUP' || order.type == 'NODE'" ng-repeat="nombre in order.nombresDeMiembros" layout="column" layout-align="space-around">
        <md-divider></md-divider>
        <div layout="row" layout-align="space-between center">
            <div><strong>{{nombre}}</strong></div>
            <chq-price-product precio="order.montoActualPorMiembro[nombre]" tamanho="1.2"></chq-price-product>
        </div>
        <md-divider ng-if="$last"></md-divider>
    </md-list-item>

    <div class="ch-confirm-order-summary-total-absolut">
      <div layout="row" layout-align="space-between">
        <label class="ch-confirm-order-summary-total-absolut-label">Total </label>
        <chq-price-product precio="order.montoActual" tamanho="1.5"></chq-price-product>
      </div>
    </div>

    <div class="ch-confirm-order-summary-actions">
      <md-button class="cancel-order" ng-click="cancel()">
        <label translate="CANCELAR"></label>
      </md-button>

      <md-button class="next" ng-click="next()">
          <label translate="SIGUIENTE"></label>
      </md-button>
    </div>

  </div>
</div>