<div class="ch-confirm-order-container ch-responsive-layout">
  <div class="ch-confirm-order-left-panel">

    <div class="ch-confirm-order-left-panel-list">
      <div class="ch-confirm-order-left-panel-list-column" style="min-width: 300px;">
        <label class="ch-confirm-order-left-panel-list-column-label">
          PRODUCTO
        </label>
        <div class="ch-confirm-order-left-panel-list-column-item" ng-repeat="product in order.productosResponse">
          <div class="ch-confirm-order-left-panel-list-column-item-data">
            <img ng-src="{{urlBase}}{{product.imagen}}" class="ch-confirm-order-left-panel-list-column-item-img">
            <label class="ch-confirm-order-left-panel-list-column-item-label">
              {{product.nombre}}
            </label>
          </div>
        </div>
      </div>
      <div class="ch-confirm-order-left-panel-list-column">
        <label class="ch-confirm-order-left-panel-list-column-label" style="">
          PRECIO
        </label>
        <div class="ch-confirm-order-left-panel-list-column-item" ng-repeat="product in order.productosResponse">
          <div class="ch-confirm-order-left-panel-list-column-item-price">
            <chq-price-product precio="product.precio" tamanho="1"></chq-price-product>
          </div>
        </div>
      </div>
      <div class="ch-confirm-order-left-panel-list-column">
        <label class="ch-confirm-order-left-panel-list-column-label" style="">
          CANTIDAD
        </label>
        <div class="ch-confirm-order-left-panel-list-column-item" ng-repeat="product in order.productosResponse">
          <div class="ch-confirm-order-left-panel-list-column-item-count">
            {{product.cantidad}}
          </div>
        </div>
      </div>
      <div class="ch-confirm-order-left-panel-list-column">
        <label class="ch-confirm-order-left-panel-list-column-label" style="">
          TOTAL
        </label>
        <div class="ch-confirm-order-left-panel-list-column-item" ng-repeat="product in order.productosResponse">
          <div class="ch-confirm-order-left-panel-list-column-item-total">
            <chq-price-product precio="product.cantidad * product.precio" tamanho="1"></chq-price-product>
          </div>
        </div>
      </div>
    </div>

  </div>

  <div class="ch-confirm-order-right-panel">
    <div class="ch-confirm-order-summary-total-header">
      <label class="ch-confirm-order-summary-total-header-label">
        RESUMEN
      </label>
    </div>
    
    <div class="ch-confirm-order-summary-total-item ch-confirm-order-summary-total-absolut" ng-if="order.type == 'GROUP' || order.type == 'NODE'" ng-repeat="nombre in order.nombresDeMiembros">
      <div layout="row" layout-align="space-between">
        <label class="ch-confirm-order-summary-total-absolut-label">{{nombre}} </label>
        <chq-price-product precio="order.montoActualPorMiembro[nombre]" tamanho="1.2"></chq-price-product>
      </div>
    </div>

    <div class="ch-confirm-order-summary-total-item ch-confirm-order-summary-total-absolut">
      <div layout="row" layout-align="space-between">
        <label class="ch-confirm-order-summary-total-absolut-label">Total </label>
        <chq-price-product precio="order.montoActual" tamanho="1.5"></chq-price-product>
      </div>
    </div>

    <div class="ch-confirm-order-actions">
      <md-button class="cancel-order" ng-click="cancel()">
        <label translate="CANCELAR"></label>
      </md-button>

      <md-button class="next" ng-click="next()">
          <label translate="SIGUIENTE"></label>
      </md-button>
    </div>

  </div>
</div>