<div id="chasqui-princiodepagina2"></div>

<div class="ch-content ch-confirm-order">
  <div class="ch-confirm-order-steps ch-responsive-xl">
    <div class="ch-confirm-order-steps-step">
      <label class="ch-confirm-order-steps-step-label" 
              ng-class="sections.orderSumary? 'ch-confirm-order-steps-step-label-selected' : ''">
        CHANGUITO
      </label>
    </div>
    <label class="ch-confirm-order-steps-step-label-divider">/</label>
    <div class="ch-confirm-order-steps-step">
      <label class="ch-confirm-order-steps-step-label"
              ng-class="sections.selectAddress? 'ch-confirm-order-steps-step-label-selected' : ''">
        ENVIO
      </label>
    </div>
    <label class="ch-confirm-order-steps-step-label-divider">/</label>
    <div class="ch-confirm-order-steps-step">
      <label class="ch-confirm-order-steps-step-label"
              ng-class="sections.questions? 'ch-confirm-order-steps-step-label-selected' : ''">
        PREGUNTAS DE CONSUMO
      </label>
    </div>
    <label class="ch-confirm-order-steps-step-label-divider">/</label>
    <div class="ch-confirm-order-steps-step">
      <label class="ch-confirm-order-steps-step-label" 
              ng-class="sections.confirmation? 'ch-confirm-order-steps-step-label-selected' : ''">
        CONFIRMACIÓN
      </label>
    </div>
  </div>

  <div class="ch-confirm-order-steps ch-responsive-s">
    <div class="ch-confirm-order-steps-step" ng-if="sections.orderSumary && order">
      <label class="ch-confirm-order-steps-step-label ch-confirm-order-steps-step-label-selected">
        CHANGUITO
      </label>
      <label class="ch-confirm-order-steps-step-label-divider">/..</label>
    </div>
    <div class="ch-confirm-order-steps-step" ng-if="sections.selectAddress && order">
      <label class="ch-confirm-order-steps-step-label-divider">../</label>
      <label class="ch-confirm-order-steps-step-label ch-confirm-order-steps-step-label-selected">
        ENVIO
      </label>
      <label class="ch-confirm-order-steps-step-label-divider">/..</label>
    </div>
    <div class="ch-confirm-order-steps-step" ng-if="sections.questions && order">
      <label class="ch-confirm-order-steps-step-label-divider">../</label>
      <label class="ch-confirm-order-steps-step-label ch-confirm-order-steps-step-label-selected">
        PREGUNTAS DE CONSUMO
      </label>
      <label class="ch-confirm-order-steps-step-label-divider">/..</label>
    </div>
    <div class="ch-confirm-order-steps-step" ng-if="sections.confirmation && order">
      <label class="ch-confirm-order-steps-step-label-divider">../</label>
      <label class="ch-confirm-order-steps-step-label ch-confirm-order-steps-step-label-selected">
        CONFIRMACIÓN
      </label>
    </div>
  </div>

  <order-summary
    ng-if="sections.orderSumary && order"
    order="order"
    next="actions.orderSumary.next"
    cancel="actions.orderSumary.cancel"
  ></order-summary>
  <select-delivery-address 
    ng-if="sections.selectAddress && order"
    order="order"
    show-go-profile="showGoProfileButton"
    get-address="getSelectedAddress"
    next="actions.selectAddress.next"
    cancel="actions.selectAddress.cancel"
  ></select-delivery-address>
  <answer-seller-questions
    ng-if="sections.questions && order"
    order="order"
    get-questions="getQuestions"
    next="actions.questions.next"
    cancel="actions.questions.cancel"
  ></answer-seller-questions>
  <confirmation
    ng-if="sections.confirmation && order"
    order="order"
    selected-address="selectedAddress"
    next="actions.confirmation.next"
    cancel="actions.confirmation.cancel"
  ></confirmation>
</div>