<div layout="column" ng-cloak class="md-inline-form">
	<md-card> 		
        <md-content layout-padding>
            <form name="direccionForm">
                
                <div layout-gt-sm="row">							
                    <md-input-container class="md-block" flex-gt-sm> 
                        <label translate="ALIAS_DOMICILIO"></label> 							
                        <input type="text" name="alias" ng-model="address.alias" required>
                            <div ng-messages="direccionForm.alias.$error" >
                                <div ng-message="required" translate="CAMPO_OBLIGATORIO"></div>
                                <span style="display:none" >{{ aliasValido = direccionForm.alias.$valid}}</span>          										
                            </div>
                    </md-input-container> 
                </div>

                <div layout-gt-sm="row">
                    <md-input-container class="md-block" flex-gt-sm >							
                        <label translate="CALLE_DIRECCION"></label> 
                        <input type="text" name="calle" ng-model="address.calle" required>
                            <div ng-messages="direccionForm.calle.$error">
                                <div ng-message="required" translate="CAMPO_OBLIGATORIO"></div>
                                <span style="display:none" >{{ calleValida = direccionForm.calle.$valid}}</span>         										
                            </div>
                    </md-input-container>
                    <md-input-container class="md-block" >
                        <label translate="ALTURA_DIRECCION"></label>
                        <input type="number" name="altura" ng-model="address.altura" required>
                            <div ng-messages="direccionForm.altura.$error">
                                <div ng-message="required" translate="CAMPO_OBLIGATORIO"></div>
                                <span style="display:none" >{{ alturaValida = direccionForm.altura.$valid}}</span>          										
                            </div> 
                    </md-input-container> 
                    <md-input-container class="md-block"> 
                        <label translate="DEPARTAMENTO_DIRECCION"></label> 
                        <input ng-model="address.departamento"> 
                    </md-input-container> 
                </div>
                
                <div layout-gt-sm="row">
                    <label class="md-block" translate="ENTRE_CALLES_DIRECCION"></label>
                </div>
                <div layout-gt-sm="row">
                    <md-input-container class="md-block" >
                        <label translate="CALLE_1_DOMICILIO"></label>
                        <input type="text" name="calleAdyacente1" ng-model="address.calleAdyacente1">
                                <div ng-messages="direccionForm.calleAdyacente1.$error">
                                    <span style="display:none" >{{ alturaValida = direccionForm.altura.$valid}}</span>          										
                                </div> 
                    </md-input-container> 
                    <md-input-container class="md-block" >
                        <label translate="CALLE_2_DOMICILIO"></label>
                        <input type="text" name="calleAdyacente2" ng-model="address.calleAdyacente2">
                                <div ng-messages="direccionForm.calleAdyacente2.$error">
                                    <span style="display:none" >{{ alturaValida = direccionForm.altura.$valid}}</span>          										
                                </div> 
                    </md-input-container> 
                </div>

                <div layout-gt-sm="row"> 
                    <md-input-container md-no-float class="md-block"> 
                        <label translate="LOCALIDAD_DOMICILIO"></label>
                        <input  type="text" name="localidad" ng-model="address.localidad" required> 
                            <div ng-messages="direccionForm.localidad.$error">
                                <div ng-message="required" translate="CAMPO_OBLIGATORIO"></div>
                                <span style="display:none" >{{ localidadValida = direccionForm.localidad.$valid}}</span>          										
                            </div>
                    </md-input-container>
                    <md-input-container class="md-block" flex-gt-sm> 
                        <label translate="CODIGO_POSTAL_DOMICILIO"></label> 
                        <input ng-model="address.codigoPostal"> 
                    </md-input-container>
                </div>
                
                <div layout-gt-sm="row">
                    <label translate="COMENTARIOS_DOMICILIO"></label>
                </div>
                <div layout-gt-sm="row">
                    <textarea rows="2" cols="50" name="comentarios" ng-model="address.comentario"></textarea> 
                </div>
                
                <div layout-gt-sm="row" ng-hide="true">
                        <md-input-container class="md-block" flex-gt-sm> 
                            <label>Loguitud</label> 
                            <input ng-model="address.longitud" name="longitud" md-no-asterisk disabled required> 
                            <span style="display:none" >{{ longitudValida = direccionForm.longitud.$valid}}</span> 
                        </md-input-container> 

                        <md-input-container class="md-block" type="hidden" flex-gt-sm> 
                            <label>Latitud</label> 
                            <input type="hidden" ng-model="address.latitud" name="latitud" md-no-asterisk disabled required>
                            <span style="display:none" >{{ latitudValida = direccionForm.latitud.$valid}}</span> 
                        </md-input-container>
                </div>
                <md-button class="md-icon-button md-primary" ng-click="mostrarAyuda()">
                    <md-icon> help_outline </md-icon> 
                </md-button>
                <code ng-show='{{address.predeterminada}}' > 
                    <md-icon> beenhere</md-icon> {{PREDETERMINADO_DOMICILIO | translate}}
                </code>

             </form>
        </md-content>

        <md-card-actions ng-controller="MapWebController" layout="row" layout-align="end center"> 
            <md-button ng-click="onDelete(address)"> <md-icon> delete_forever </md-icon> 
                <md-tooltip md-direction="left"> Eliminar domicilio </md-tooltip> </md-button> 

            <md-button ng-click="onMarkAsPrimary(address)"> <md-icon> beenhere   </md-icon> 
                <md-tooltip md-direction="left"> Marcar como domicilo principal </md-tooltip> </md-button> 

            <!--  
            <md-button ng-click="guardar()">Confirmar</md-button>
            -->

                <md-button ng-show= !formIsValidForSave() ng-disabled=formIsValidForSearch() class="md-raised md-primary" ng-click="buscar($event)" ng-class="{'chq-destacado': isDisabled === false}">
                    <md-icon md-font-set="material-icons"> gps_fixed </md-icon>
                   <md-tooltip md-direction="top"> Ubica su posicion geografica basada en la direccion ingresada </md-tooltip>
                    Siguiente
                </md-button>

                <md-button ng-show=false class="md-raised md-primary" ng-click="localizar()" ng-class="{'chq-destacado': isDisabled === false}">
                   <md-icon md-font-set="material-icons"> room </md-icon>
                   <md-tooltip md-direction="top"> Permite marcar su posicion geografica manualmente en el mapa</md-tooltip>         
                    {{auto_localizar}}
                </md-button>

                <md-button ng-show= formIsValidForSave() class="md-raised md-primary" ng-click="onSave(address)" ng-class="{'chq-destacado': isDisabled === true}">
                    <md-icon md-font-set="material-icons"> save </md-icon>
                    Guardar
                </md-button> 
                <md-button ng-show=false class="md-primary md-raised" ng-click="mostrarMapaGeneral($event)" ng-class="{'chq-destacado': isDisabled === false}"  >

                    <md-icon md-font-set="material-icons"> explore </md-icon>
                    <md-tooltip md-direction="top"> Muestra el mapa con las direcciones </md-tooltip>
                    Mapa
                </md-button>

        </md-card-actions>      	
    </md-card>
</div>