 <!-- <div id="chasqui-content-full">
  <div class="archive-box-catalogo">
    <h3>Como comprar ?</h3>
  </div>-->

<div id="chasqui-princiodepagina2"></div>

<div class="ch-content" layout="column" layout-align="center">
  <div class="imagenes-comocomprar">
    <md-grid-list md-cols="3" md-row-height="1:1" >
      <md-grid-tile layout="row" md-colspan="1" md-rowspan="1" ng-repeat="(i,instruccion) in instruccionesCards">
        <md-card style="width:250px; padding:20px; margin-top:20px;">
          <div>
            <!-- i+1 porque la primer imagen es de elegir el catalogo-->
            <img src="{{'assets/images/help/purchaseHelp_' + (i+1) + '.jpg'}}">
            <div class="txt-comocomprar">
              <h3><b>{{instruccion.titulo}}</b></h3>
              <p>{{instruccion.contenido}}</p>
            </div>
          </div>
        </md-card>
      </md-grid-tile>
    </md-grid-list>
  </div>
  
  <div class="ch-groups-help">
    <div ng-repeat="(i, pregunta) in instrucciones" class="ch-group-card ch-groups-help-question" ng-click="showHelpsAnswer(i)" style="cursor: pointer;">
      <div layout="row" layout-align="space-between center" class="ch-groups-help-question-title">
        <span>
          {{pregunta.titulo}}
        </span>
        <i class="material-icons" ng-show="!showHelp[i]">
          expand_more
        </i>
        <i class="material-icons" ng-show="showHelp[i]">
          expand_less
        </i>
      </div>
      <span ng-show="showHelp[i]" class="ch-groups-help-question-answer">
        <div ng-repeat="paso in pregunta.pasos">
          <li>{{paso.principal}}</li>
          <ol type="a">
            <li ng-repeat="subpaso in paso.subPasos"> {{subpaso}}</li>
          </ol>
        </div>
      </span>
    </div>
  </div>
</div>



<style>
  .tarjeta{
    width: 25%;
    margin: 2rem;
    padding: 0.5rem;
    box-shadow: 0px 0px 2px #000;
  }
  
  
  .tarjeta .precio-comprar{
    width: 100%;
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
  }
  
  
  .txt-comocomprar {
    padding:auto; 
    margin-top:10px;
  height: 65px;
  }
    .txt-comocomprar p{ 
    color: #111;
    font-size: 12px;
  }
    .txt-comocomprar h3{
      color: #111;
    font-size: 16px;
  }
  
</style>
