.notificcion-entrante {
	background: red;
	width: 1em;
	height: 1em;
	border-radius: 50%;
	margin-top: .7em;
	box-shadow: 0px 2px 2px rgba(255, 255, 255, .3);
	span {
		font-size: .7em;
	}
}

.hf-chasqui {
	//solo para pruebas
	min-height: 560px;
}


.btn-chango {
	text-align: center;
	background: #efeae6;
	color: #000 !important;
	text-shadow: 0px 1px 2px rgba(0, 0, 0, .5);
	padding-bottom: .5em;
}

.changuito {
	width: 50%;
}

.changuito-sm {
	width: 2.5em;
}

.medallas {
	margin: 1.3em !important;
}

.pchasqui {
	text-align: justify;
}

.height-min {
	height: 100%;
	min-height: 60vh;
}

.width-total {
	width: 100%;
}

.img-destacados {
	width: 30%;
}

.img-productor {
	max-width: 40%;
	background: #bdcbcd !important;
	box-shadow: 0px 2px 2px rgba(0, 0, 0, .5);
}

.cont-destacados {
	width: 100%;
}

.chasqui {

	padding: 1em 0;
	text-shadow: 0px 1px 2px rgba(0, 0, 0, .5);

	font-family: Andale Mono;
}

.nav-header.nav-header-sticky {
	position: fixed;
	width: 100%;
	z-index: 900;
}

.chq-container {
    max-height: 100vh !important;
}

.ch-content-block {
    margin-top: 120px;
}

.ch-content {
	margin: 30px auto;
    max-width: 1500px;
    padding: 0 30px;
}

.ch-content-full {
	margin-top: 120px;
  min-height: 83vh !important;
  width: 100%;
  padding-bottom: 0px;
}

md-toast.md-center {
	left: 50%;
	transform: translate3d(-50%, 0, 0);
	position: fixed;
}

.chq-destacado{
	background-color: gray;
	opacity: .2;
}

.button-filtro {
    display: block;
    position: relative;
    cursor: pointer;
    min-height: 36px;
    line-height: 36px;
    text-align: center;
    border-radius: 6px;
    box-sizing: border-box;
	border: 1px solid #666;
	color: #666;
	padding: 0 6px;
	margin: 10px;
    text-transform: uppercase;
	font-size: 12px;
	&:hover {
		background: #666;
		color: #fff;
	}
}

.ch-modal-title-bar {
	border-bottom: 1px solid #ccc;
	margin: 0;
	padding: 20px;
	width: 100%;
}
.boton-cerrar-card {
	top: 15px;
	right: 15px;
	background: #f1f1f1;
}
.ch-dialog-content {
	margin: 0;
	padding: 0;
	.txt-medalla {
		padding: 20px;
	}
	
}
.suma-cantidad {
	a {
	display: block;
	height: 24px;
		border-radius: 50%;
	    background: #ccc;
	}
	input {
		font-size: 18px;
		line-height: 35px;
		width: 40px; 
		margin: 0px;
		text-align: center;
		border: 1px solid #ccc;
	}
}
.suma-copy {
	margin: 10px 0;
	padding: 10px 0;
	border-bottom: 1px dotted #ccc;
}
md-dialog-actions {
	border-top: 1px solid #ccc;
	margin-top: 10px;
}