<element-wrapper supported-strategies="nodos">
    <div layout="column" layout-align="center">
      <div layout="row" layout-align="center">
        <label class="ch-estado-pedido-colectivo ch-estado-pedido-confirmado" ng-show="isAdmin"> 
          Ingreso nodo: ${{incentivoNodo(node)}}
        </label>
        <label class="ch-estado-pedido-colectivo ch-estado-pedido-confirmado" ng-show="isAdmin"> 
          Costo al nodo: ${{montoSinIncentivo(node)}}
        </label>
        <label class="ch-estado-pedido-colectivo ch-estado-pedido-confirmado" ng-show="active"> 
          Activo
        </label>
        <label class="ch-estado-pedido-colectivo ch-estado-pedido-confirmado"> 
          Precio final: ${{montoTotalNodo(node)}}
        </label>
      </div>
    </div>
  </element-wrapper>