<element-wrapper supported-strategies="nodos">
    <div layout="column" layout-align="center">
      <div layout="row" layout-align="center">
        <label class="ch-estado-pedido-colectivo ch-estado-pedido-confirmado"> 
          Incentivo: ${{incentivoNodo(node)}}
        </label>
        <label class="ch-estado-pedido-colectivo ch-estado-pedido-confirmado"> 
          Total a pagar: ${{montoSinIncentivo(node)}}
        </label>
        <label class="ch-estado-pedido-colectivo ch-estado-pedido-confirmado" ng-show="active"> 
          Activo
        </label>
        <label class="ch-estado-pedido-colectivo ch-estado-pedido-confirmado"> 
          Total: ${{montoTotalNodo(node)}}
        </label>
      </div>
    </div>
  </element-wrapper>