<md-card>
  <md-card-contents class="ch-warn-card-content" >
    <div ng-show="showMinPriceWarn">
      <span class="ch-warn">{{advertencia}}</span>
    </div>
  </md-card-contents>
</md-card>

<div class="ch-confirm-order-container ch-responsive-layout">
  <div class="ch-confirm-order-left-panel">

    <span class="ch-confirm-order-mandatory-label ch-confirm-order-underline">
      Las opciones marcadas con <strong>*</strong> son obligatorias
    </span>

    <div class="ch-confirm-order-left-panel-list">
      <div class="ch-confirm-order-left-panel-list-column">

        <div class="ch-confirm-order-left-panel-list-row" ng-show="mostrarSeleccionMultiple">
          <div class="ch-confirm-order-left-panel-list-row-explanation" layout="column" layout-align="space-betwen start">
            <span class="ch-confirm-order-mandatory-label">Selecciona un modo de entrega: <strong>*</strong></span>
            <span class="ch-error" ng-show="validated && !entregaSelected">Se debe elegir un modo de entrega</span>
          </div>
          <div class="ch-confirm-order-left-panel-list-row-input">
            <md-select placeholder="Modo de entrega" ng-model="entregaSelected">
              <md-option ng-value="delivery" ng-repeat="delivery in deliveryTypes" ng-click="setDeliveryType(delivery)">{{delivery.label}}</md-option>
            </md-select>
          </div>
        </div>

        <element-wrapper supported-strategies="seleccionDeDireccionDelUsuario">
          <div class="ch-confirm-order-left-panel-list-row" ng-show="deliveryTypes[0].show" flex="1">
            <div class="ch-confirm-order-left-panel-list-row-explanation">
              <div ng-show="addresses.length == 0">	
                <div translate=PEDIR_DOMICILIO></div>
              </div>
              <div ng-show="addresses.length > 0" layout="column">
                <div layout="column" layout-align="space-betwen start">
                  <span class="ch-confirm-order-mandatory-label">Domicilio de envio: <strong>*</strong></span>
                  <span class="ch-error" ng-show="validated && !address.selected">Se debe elegir un domicilio</span>
                </div>
              </div>
            </div>
            <div class="ch-confirm-order-left-panel-list-row-input">
              <md-input-container class="ch-select-address-item">
                <label>Domicilio seleccionado</label>
                <md-select name="selectedAddress" ng-model="address.selected">
                  <md-option ng-repeat="address in addresses" ng-value="address" ng-click="getAddressZone(address)">
                    {{address.alias}}
                  </md-option>
                </md-select>
              </md-input-container>

              <div class="ch-select-address-item" ng-show="addressZone.nombre">
                <span><strong>Zona de entrega:</strong> {{addressZone.nombre}}</span>
              </div>

              <div class="ch-select-address-item" ng-show="addressZone.fechaCierrePedidos">
                <span><strong>Cierre de pedidos:</strong> {{addressZone.fechaCierrePedidos}}</span>
              </div>

              <div class="ch-select-address-item">
                <span style="font-style: italic;" ng-if="!addressZone.notOkDescription">{{addressZone.descripcion}}</span>
                <span style="font-style: italic; color: red;" ng-if="addressZone.notOkDescription">{{addressZone.descripcion}}</span>
              </div>
            </div>
          </div>
        </element-wrapper>

        <element-wrapper supported-strategies="seleccionDeDireccionDelUsuario">
          <div class="ch-confirm-order-left-panel-list-row" ng-show="deliveryTypes[0].show && addresses.length > 0">
            <div class="ch-confirm-order-left-panel-list-row-explanation">
              <span class="ch-confirm-order-mandatory-label">Particularidades del domicilio:</span>
              <span style="font-style: italic;">Por ejemplo, el timbre no funciona o llame al celular para atenderlo</span>
            </div>
            <div class="ch-confirm-order-left-panel-list-row-input">
              <md-input-container>
                <label>Particularidades</label>
                <textarea ng-model="address.particularities"></textarea>
              </md-input-container>
            </div>
          </div>
        </element-wrapper>

        <element-wrapper supported-strategies="puntoDeEntrega">
          <div ng-show="deliveryTypes[1].show">
              <div ng-show="deliveryPoints.length == 0">
                  No hay puntos de entrega disponibles, debe elegir un domicilio propio para la entrega.
              </div>
              <div ng-show="deliveryPoints.length > 0" layout="row" layout-align="space-between start">
                  <div flex="50" layout="column">
                      <span>Selecciona un punto de entrega: <strong>*</strong></span>
                      <span class="ch-error" ng-show="validated && !deliveryPointDefined">Se debe seleccionar un punto de entrega</span>
                  </div>
                  <div flex="50">
                      <md-radio-group name="selectedDeliveryPoint" ng-model="address.selected" layout="column" layout-align="center start">
                          <md-radio-button ng-repeat="deliveryPoint in deliveryPoints" ng-value="deliveryPoint">
                              <div layout="column" layout-align="end start">
                                  <span><strong>{{deliveryPoint.nombre}}</strong></span>
                                  <span>{{deliveryPoint.direccion.calle}} {{deliveryPoint.direccion.altura}}, {{deliveryPoint.direccion.localidad}}</span>
                                  <span style="font-style: italic;">{{deliveryPoint.mensaje}}</span>
                              </div>
                          </md-radio-button>
                      </md-radio-group>
                  </div>
              </div>
          </div>
        </element-wrapper>

      </div>
    </div>
  </div>
  <div class="ch-confirm-order-right-panel">

    <div class="ch-confirm-order-right-panel-map" ng-controller="MapWebZonaPRController">
      <leaflet id="mapaZonasPR" class="ch-confirm-order-right-panel-map-iframe" width="440" height="380"></leaflet>
      <div style="z-index: 10000;">
        <md-sidenav style=" height:575px; margin-top: 8.5em;" class="md-sidenav-right" md-component-id="right" md-disable-backdrop md-whiteframe="4">
          <md-toolbar style="background-color: grey;">
            <div class="md-toolbar-tools">{{nombre}}</div>
          </md-toolbar>
          <md-content layout-margin >

            <!-- Area para la ayuda de las acciones Automaticas -->
            <p >                       
                <div align="left"><md-icon md-font-set="material-icons"> label_important </md-icon> Nombre: {{nombre}} </div>
                <div ><md-icon md-font-set="material-icons"> description </md-icon> Descripción: {{descripcion}}</div>
                <div ng-show="mostrarDia"><md-icon  md-font-set="material-icons"> calendar_today </md-icon> Fecha Cierre: {{day}}</div>
                <div ng-show="mostrarDireccionPR"><md-icon  md-font-set="material-icons"> home </md-icon> Dirección: {{direccion}}</div>
            </p>
          
          </md-content>
          <div align="center">
            <md-button ng-click="toggleClose()" class="md-raised">
              Cerrar
            </md-button>
          </div>
        </md-sidenav>
      </div>
    </div>

    <div class="ch-confirm-order-actions">
      <md-button class="cancel-order" ng-click="cancel(address)">
        <label translate="ATRAS"></label>
      </md-button>

      <md-button class="next" ng-click="validateAndNext()">
          <label translate="SIGUIENTE"></label>
      </md-button>
    </div>
  </div>
</div>