    <md-card>
    <md-card-contents class="ch-warn-card-content" >
    <div ng-show="showMinPriceWarn">
        <span class="ch-warn">{{advertencia}}</span>
    </div>
     </md-card-contents>
    </md-card>

<div layout="row" layout-align="space-between center">
    <div ng-show="mostrarSeleccionMultiple" flex="50" layout="column">
        <span>Selecciona un modo de entrega: <strong>*</strong></span>
        <span class="ch-error" ng-show="validated && !modeDefined">Se debe elegir un modo de entrega</span>
    </div>
    <md-select flex="50" ng-show="mostrarSeleccionMultiple" placeholder="Modo de entrega" ng-model="entregaSelected" style="min-width: 30vw;">
        <md-option ng-value="delivery" ng-repeat="delivery in deliveryTypes" ng-click="setDeliveryType(delivery)">{{delivery.label}}</md-option>
    </md-select>
</div>

<element-wrapper supported-strategies="seleccionDeDireccionDelUsuario">
    <div ng-show="deliveryTypes[0].show">
        <div ng-show="addresses.length == 0">	
            <div translate=PEDIR_DOMICILIO></div>
        </div>
        <div ng-show="addresses.length > 0" layout="column" style="min-width: 50vw;">
            <div layout="row" layout-align="space-between space-between">
                <div flex="50" layout="column">
                    <span>Domicilio de envio: <strong>*</strong></span>
                    <span class="ch-error" ng-show="validated && !addressDefined">Se debe elegir un domicilio</span>
                </div>
                <md-input-container flex="50">
                    <label>Domicilio seleccionado</label>
                    <md-select name="selectedAddress" ng-model="address.selected">
                        <md-option ng-repeat="address in addresses" ng-value="address" ng-click="getAddressZone(address)">
                          {{address.alias}}
                        </md-option>
                    </md-select>
                </md-input-container>
            </div>

            <element-wrapper supported-strategies="nodos">
              <span>{{addressZone.descripcion}}</span>
            </element-wrapper>
          
            <div layout="row" layout-align="space-between start">
                <div layout="column" layout-align="space-around start" flex="50">
                    <span>Particularidades del domicilio:</span>
                    <span style="font-style: italic;">Por ejemplo, el timbre no funciona o llame al celular para atenderlo</span>
                </div>
                <md-input-container flex="50">
                    <label>Particularidades</label>
                    <textarea ng-model="address.particularities"></textarea>
                </md-input-container>
            </div>

            <element-wrapper not-supported-strategies="nodos">
              <div layout="row" layout-align="space-between start">
                  <div flex="50" layout="column">
                      <span>Selecciona una zona de entrega: <strong>*</strong></span>
                      <span class="ch-error" ng-show="validated && !zoneDefined">Se debe elegir una zona para el domicilio</span>
                  </div>
                  <md-input-container flex="50">
                    <label>Zona seleccionada</label>
                    <md-select name="selectedZone" ng-model="address.zone">
                        <md-option ng-repeat="zone in zones" ng-value="zone" 
                                  style="padding-bottom: 40px;
                                        padding-top: 40px;
                                        max-width: 900px;">
                          <div layout="column" layout-align="end start">
                              <span><strong>{{zone.nombre}}</strong></span>
                              <span>Cierre de pedidos: <strong>{{zone.fechaCierrePedidos}}</strong></span>
                              <span style="font-style: italic;">{{zone.descripcion}}</span>
                          </div>
                        </md-option>
                    </md-select>
                  </md-input-container>
                      <!--md-radio-group name="selectedZone" ng-model="address.zone">
                          <md-radio-button ng-repeat="zone in zones" ng-value="zone">
                              <div layout="column" layout-align="end start">
                                  <span><strong>{{zone.nombre}}</strong></span>
                                  <span>Cierre de pedidos: <strong>{{zone.fechaCierrePedidos}}</strong></span>
                                  <span style="font-style: italic;">{{zone.descripcion}}</span>
                              </div>
                          </md-radio-button>
                      </md-radio-group-->
              </div>

              <div layout="row" layout-align="space-between start">
                  <div flex="50" layout="column">
                      <span> Mapa de zonas de entrega: </span>
                  </div>
                  <div flex="50">
                      <iframe ng-src="{{zonesMap}}" width="520" height="480"></iframe>
                  </div>
              </div>
            </element-wrapper>
        </div>
    </div>
</element-wrapper>

<element-wrapper supported-strategies="puntoDeEntrega">
    <div ng-show="deliveryTypes[1].show">
        <div ng-show="deliveryPoints.length == 0">
            No hay puntos de entrega disponibles, debe elegir un domicilio propio para la entrega.
        </div>
        <div ng-show="deliveryPoints.length > 0" layout="row" layout-align="space-between start">
            <div flex="50" layout="column">
                <span>Selecciona un punto de entrega: <strong>*</strong></span>
                <span class="ch-error" ng-show="validated && !deliveryPointDefined">Se debe seleccionar un punto de entrega</span>
            </div>
            <div flex="50">
                <md-radio-group name="selectedDeliveryPoint" ng-model="address.selected" layout="column" layout-align="center start">
                    <md-radio-button ng-repeat="deliveryPoint in deliveryPoints" ng-value="deliveryPoint">
                        <div layout="column" layout-align="end start">
                            <span><strong>{{deliveryPoint.nombre}}</strong></span>
                            <span>{{deliveryPoint.direccion.calle}} {{deliveryPoint.direccion.altura}}, {{deliveryPoint.direccion.localidad}}</span>
                            <span style="font-style: italic;">{{deliveryPoint.mensaje}}</span>
                        </div>
                    </md-radio-button>
                </md-radio-group>
            </div>
        </div>
    </div>
</element-wrapper>