<md-content ng-cloak>
    <home-menu class="menu"></home-menu>
    
    <div class="ch-content-full">
        <md-grid-list md-cols="3"  md-row-height="260px">
            <md-grid-tile md-colspan="1" md-rowspan="1" ng-repeat="catalog in catalogs">
                <md-card>
                    <a ng-click="goToCatalog(catalog.id)"> 					
                        <md-card-title> 
                            <md-card-title-text>
                                <span class="md-headline">{{catalog.nombre}}</span>
                                <span class="md-subhead">{{catalog.id}}</span>
                            </md-card-title-text>
                        </md-card-title>
                        <md-card-actions layout="row" layout-align="center">
                            <img ng-src="{{url(catalog.imagen)}}" style="padding-top: 50px;"> 
                        </md-card-actions>
                    </a>
                </md-card>
            </md-grid-tile>
        </md-grid-list>
    </div>
</md-content>