
<div id="chasqui-content-full" class="chasqui-content-full-home">
  <div class="chasqui-content-full-home-container">
    <div class="ch-home-header">
        <div class="ch-home-header-name">
          <label class="ch-home-header-name-label">CHASQUI</label>
          <label class="ch-home-header-name-label-2">Comunidad de consumo solidario</label>
        </div>
        <div class="ch-home-header-filter">
          <div class="ch-home-header-filter-input">
            <div class="">
              <md-input-container>
                <label>Nombre</label>
                <input ng-model="selectedTags.nombre">
              </md-input-container>            
            </div>
            <div class="ch-home-header-filter-input-selections">
              <md-input-container>
                <label>Zona de entregas</label>
                <md-select ng-model="selectedTags.idTagZonaDeCobertura">
                  <md-option ng-repeat="zona in tags.tagsZonaDeCobertura" ng-value="zona.id"> 
                    {{ zona.nombre }} 
                  </md-option>
                </md-select>
              </md-input-container>
              <md-input-container>
                <label>Tipo de organización</label>
                <md-select ng-model="selectedTags.idTagTipoOrganizacion">
                  <md-option ng-repeat="tipoDeOrganizacion in tags.tagsTipoOrganizacion" ng-value="tipoDeOrganizacion.id"> 
                    {{ tipoDeOrganizacion.nombre }} 
                  </md-option>
                </md-select>
              </md-input-container>
              <md-input-container>
                <label>Tipo de producto</label>
                <md-select ng-model="selectedTags.idTagTipoProducto">
                  <md-option ng-repeat="tipoDeProducto in tags.tagsTipoProducto" ng-value="tipoDeProducto.id"> 
                    {{ tipoDeProducto.nombre }} 
                  </md-option>
                </md-select>
              </md-input-container>
            </div>
          </div>
          <div class="ch-home-header-filter-confirm">
            <md-button class="btn-confirmar" ng-click="confirmSearch()">BUSCAR</md-button>
          </div>
        </div>
    </div>
    <div class="ch-home-catalogs">
      <div class="ch-home-catalogs-container">
        <div class="ch-home-catalogs-catalog" ng-repeat="catalog in catalogs" ng-click="goToCatalog(catalog.nombreCorto)">
          <img class="ch-home-catalogs-catalog-img" ng-src="{{url(catalog.imagen)}}">
          <div class="ch-home-catalogs-catalog-details">
            <div class="ch-home-catalogs-catalog-details-type-delivery">
              <div class="ch-home-catalogs-catalog-details-type-delivery-contents">
                <label class="ch-home-catalogs-catalog-details-type ch-home-catalog-tag" ng-show="catalogOrganizationType(catalog) != ''">
                  {{ catalogOrganizationType(catalog) }}
                </label>
                <div class="ch-home-catalogs-catalog-details-delivery">
                  <div class="ch-home-catalogs-catalog-tag-container">
                    1
                  </div>
                </div>
              </div>
            </div>
            <span class="ch-home-catalogs-catalog-details-name">{{catalog.nombre}}</span>
            <div class="ch-home-catalogs-catalog-details-zones-agrupations">
                <div class="ch-home-catalogs-catalog-details-zones">
                  <div class="ch-home-catalogs-catalog-details-zones-zone ch-home-catalog-tag" ng-repeat="zone in catalog.tagsZonaDeCobertura">
                    <label>{{ zone.nombre }}</label>
                  </div>
                </div>
                <div class="ch-home-catalogs-catalog-details-agrupations">
                    <div class="ch-home-catalogs-catalog-details-agrupations-agrupation ch-home-catalogs-catalog-tag-container" ng-repeat="agrupationType in catalog.agrupationsTypes">
                      <label>{{ ::agrupationType.label }}</label>
                    </div>
                </div>
            </div>
            <div class="ch-home-catalogs-catalog-details-sells">
              <div class="ch-home-catalogs-catalog-details-sells-sell" ng-repeat="productSell in catalog.tagsTipoProductos">
                <label>{{ productSell.nombre }}</label>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="ch-home-chasqui-banner">
      <div class="ch-home-chasqui-banner-content">
        <label>CHASQUI, Tecnología para la comercialización de la economía social y solidaria</label>
      </div>
    </div>
  </div>
</div>