/* global malarkey:false, moment:false */
(function() {
    'use strict';

    angular
        .module('chasqui')
        .constant('URLS', function() {
            const environmentActive = 'development';
            const environment = {
                development: {
                    be_base:        'http://localhost:8080/panel/',
                    be_rest:        'http://localhost:8080/panel/rest/',
                    be_websocket:   'wss://staging.proyectochasqui.com:6789',
                    api:            'http://localhost:3030/'
                },
                staging: {
                    be_base:        'https://staging.proyectochasqui.com/panel/',
                    be_rest:        'https://staging.proyectochasqui.com/panel/rest/',
                    be_websocket:   'wss://staging.proyectochasqui.com:6789',
                    api:            'https://api.staging.proyectochasqui.com/'
                },
                production: {
                    be_base:        'https://proyectochasqui.com/panel/',
                    be_rest:        'https://proyectochasqui.com/panel/rest/',
                    be_websocket:   'wss://proyectochasqui.com:6789',
                    api:            'http://api.proyectochasqui.com/'
                }
            }
            return environment[environmentActive];
        }())

})();