/* global malarkey:false, moment:false */
(function() {
    'use strict';

    angular
        .module('chasqui')
        .constant('settings', {
            APP_TITLE: 'chasqui',
            API_URL: 'http://localhost/api',
            DEBUG_ENABLED: true
        })

        .constant('URLS', function() {
            
            var backends = [
                //    Servidor LOCAL
               "backend local sin http//", // COMPLETAR
                
                // Backend desarrollo
                "backend de desarrollo http//" // COMPLETAR
            ];

            var serverIndex = 1;
            
            var URL_BASE = "http://".concat(backends[serverIndex]);

            var URL_BASE_WEBSOCKET = "ws://".concat(backends[serverIndex]);           

            var URL_REST_BASE = URL_BASE + "rest/";

            var PRODUCTO = URL_REST_BASE + "productos/";

            return {
                be_base: URL_BASE,

                be_rest: URL_REST_BASE,

                be_base_websocket: URL_BASE_WEBSOCKET,
            }

        }())

})();