 <!--<div id="chasqui-content-full">
  <div class="archive-box-catalogo">
    <h3>Mis pedidos</h3>
  </div>
</div>-->

<div id="chasqui-princiodepagina2"></div>

<div class="ch-content">
  <div layout="row" layout-xs="column">
  
  
    <md-card flex-gt-sm="30" flex>
      <div layout="column" layout-align="start" style="margin: 25px;">
        <div>
          Filtrar pedidos por:
        </div>
        <div layout="row" layout-align="space-between center">
          <label>Estado</label>
          <md-input-container>          
            <md-select ng-model="selectedState">
              <md-option ng-repeat="state in states" ng-value="state" ng-click="getOrdersWithState(state)"> {{state}} </md-option>
            </md-select>
          </md-input-container>
        </div>
        <div>
          {{descripcionDelEstado(selectedState)}}
        </div>
      </div>
    </md-card>
  
  
  
    <md-card flex>
      <div ng-show="pedidosFiltrados.length == 0" layout="row" layout-align="center center" style="font-style: italic;">
        No hay pedidos con el estado seleccionado
      </div>
      <md-list layout-fill ng-show="pedidosFiltrados.length > 0" style="padding: 0px;">
        <md-list-item style="background-color: #33ccff; font-weight: bold;">
          <div layout="row" layout-align="space-between center" layout-fill>
            <div flex="25" style="text-align: center">
              Grupo del pedido
            </div>
            <div flex="25" style="text-align: center">
              Fecha de confirmación
            </div>
            <div flex="20" style="text-align: center">
              Monto total
            </div>
            <div flex="30" style="text-align: center">
              Direccción de entrega
            </div>
          </div>
        </md-list-item>
        <md-list-item 
            class="md-1-line" 
            ng-repeat="(i, pedido) in pedidosFiltrados" 
            ng-class="classForItem(i)">
          <div ng-click="viewOrderDetail(pedido)" layout-fill>
            <div layout="row" layout-align="space-between center" layout-fill>
              <div flex="25" style="text-align: center">
                {{getAliasGrupo(pedido)}}
              </div>
              <div flex="25" style="text-align: center">
                {{pedido.fechaVencimiento}}
              </div>
              <div flex="20" layout="row" layout-align="center center">
                <chq-price-product precio="pedido.montoActual" tamanho="1"></chq-price-product>
              </div>
              <div flex="30" style="text-align: center">
                {{direccionDeEntrega(pedido)}}
              </div>
            </div>
            <md-tooltip md-direction="bottom">
                Ver detalle
            </md-tooltip>
          </div>
        </md-list-item>
      </md-list>
    </md-card>
  </div>
</div>