<div class="ch-confirm-order-container ch-responsive-layout">
  <div class="ch-confirm-order-left-panel">

    <span class="ch-confirm-order-mandatory-label ch-confirm-order-underline">
      Las opciones marcadas con <strong>*</strong> son obligatorias
    </span>

    <div class="ch-confirm-order-left-panel-list">
      <div class="ch-confirm-order-left-panel-list-column">

        <div class="ch-confirm-order-left-panel-list-row ch-responsive-layout" ng-repeat="question in questions">
          <div class="ch-confirm-order-left-panel-list-row-explanation">
            <span class="ch-confirm-order-mandatory-label">{{question.nombre}}:<strong>*</strong></span>
            <span class="ch-error" ng-show="validated && !question.answered">Se debe responder esta pregunta</span>
          </div>
          <div class="ch-confirm-order-left-panel-list-row-input">
            <md-input-container ng-if="question.opciones.length == 0">
              <input 
                ng-model="question.answer"
                placeholder="{{question.nombre}}"
                name="{{question.nombre}}"
                required
              />
            </md-input-container>
            <md-input-container ng-if="question.opciones.length > 0">
              <md-select 
                placeholder="{{question.nombre}}" 
                name="{{question.nombre}}" 
                ng-model="question.answer"
                required>
                <md-option ng-repeat="answer in question.opciones" ng-value="answer">{{answer}}</md-option>
              </md-select>
            </md-input-container>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="ch-confirm-order-right-panel">
    <div class="ch-confirm-order-actions">

      <md-button class="cancel-order" ng-click="cancel(questions)">
        <label translate="ATRAS"></label>
      </md-button>

      <md-button class="next" ng-click="validateAndNext()">
          <label translate="SIGUIENTE"></label>
      </md-button>
      
    </div>
  </div>
</div>