<md-toolbar class="md-medium-tall bg-white" ng-cloak>
  <div id="menu-chasqui" layout="column" layout-align="start">
    <div class="nav-sticker-a" layout="row" layout-align="space-between center">
      <div class="nav-logo">
        <a ui-sref="catalog.landingPage">
          <img ng-src="{{urlLogo}}">
        </a>
      </div>
      <div layout="row" layout-align="space-between center">
        <catalog-menu-items class="menu-element" general="true"></catalog-menu-items>
        <div ng-show="isLogued" id="menu_list_usuario" layout="row" layout-align="space-between center">
          <div class="menu-element" style="cursor: pointer;">
            <img ng-click="toTop()" ui-sref="catalog.profile" ng-src="{{urlBase}}{{usuario.avatar}}" stye="max-height: 40px; max-width: 40px;">
          </div>
          <h2 class="menu-element" ng-click="toTop()" ui-sref="catalog.profile" style="cursor: pointer;">{{usuario.nickname}}</h2>
          
          <md-button class="menu-icon menu-element" ui-sref="catalog.notifications">

              <ng-md-icon options="{{options}}" id="icon" icon="{{icon}}" style="fill: {{fill}};">
              </ng-md-icon>
              
              <md-tooltip style="color:#fff" md-direction="left">
                 {{'SIN_LEER' | translate}} {{notificacionesSinLeer}} 
              </md-tooltip>
          </md-button>
          <notification-icon count="nroNoLeidas" >
          </notification-icon>
          <md-button class="md-secondary menu-icon menu-element" ng-click="logOut()">
              <md-icon style="color:white;"> exit_to_app </md-icon>
          </md-button>
        </div>
        <md-button class="md-raised btn-chq-ingresa" ui-sref="catalog.login" ng-show="!isLogued"> {{'INGRESA' | translate}} </md-button>
      </div>
      
      
                   
                   
    </div>      
    <div class="nav-sticker-b" layout="row" layout-align="space-between center">
      <div>
        <!-- buscador -->
      </div>
      <div>
        <catalog-menu-items general="false"></catalog-menu-items>
      </div>
    </div>
  </div>
  
  
   <!-- <div class="md-toolbar-tools">
       
        <span flex></span>

        <catalog-menu-items></catalog-menu-items>

        <span flex></span>

        <h2 class="md-title" style="color:white ;" ng-show="isLogued">{{usuario.nickname}}</h2>
        <md-button class="md-raised btn-chq-ingresa" ui-sref="catalog.login"  ng-show="! isLogued">  {{'INGRESA' | translate}}   </md-button>

        <div style="position: relative; height: 80px; width: 120px; margin-top: 40px;" ng-show="isLogued" class="avatar">
            <md-grid-list md-cols="3" md-row-height="1:1" style="position: relative;">
                <md-grid-tile layout="row" md-colspan="2" md-rowspan="2">
                    <img id="avatar" ng-src="{{urlBase}}{{usuario.avatar}}"  style="border-radius: 10%;
                    box-shadow:0px 1px 3px 0px rgba(0, 0, 0, 0.5), 0px 1px 1px 0px rgba(0, 0, 0, 0.3), 0px 2px 1px -1px rgba(0, 0, 0, 0.4); border: 3px solid #fff;">
                </md-grid-tile>
                <md-grid-tile md-colspan="1" md-rowspan="1" >
                    <md-button class="md-secondary" ng-click="logOut()" style="width: 40px;
                                            height: 40px;
                                            min-width: 40px;
                                            min-height: 40px;
                                            margin: 0px;
                                            right: 0px;
                                            padding: 0px;
                                            border-radius: 0;">
                        <md-icon style="color:white; margin-right: 0.5rem !important;"> exit_to_app </md-icon>
                    </md-button>
                </md-grid-tile>
                <md-grid-tile md-colspan="1" md-rowspan="1">
                    <md-button  ng-click="verNotificaciones()" style="width: 40px;
                                            height: 40px;
                                            min-width: 40px;
                                            min-height: 40px;
                                            margin: 0px;
                                            right: 0px;
                                            padding: 0px;
                                            border-radius: 0;">
                        <ng-md-icon options="{{options}}" id="icon" icon="{{icon}}" style="fill: {{fill}}; margin-right: 0.5rem !important;" />
                        <md-tooltip style="color:#fff" md-direction="left">
                             {{'SIN_LEER' | translate}} {{notificacionesSinLeer}} </md-tooltip>
                    </md-button>
                </md-grid-tile>
            </md-grid-list>
        </div>
    </div> -->
</md-toolbar>


<style>
    .avatar figure{
        border-radius: 0 !important;
        margin-left: 0.5rem;
        padding-right: 0.2rem;
        min-width: 80px !important;
    }
  
  .menu-element {
    margin: 15px !important;
  }
  
  .menu-icon {
    height: 40px !important;
    width: 40px !important;
    min-width: 40px !important;
  }
</style>
