<md-toolbar class="md-medium-tall bg-white" ng-cloak>
    <div class="md-toolbar-tools">
        <a ui-sref="catalog.landingPage"> 					
            <img ng-src="app/components/image/logo_ch.png" style="padding-top: 50px;"> 
        </a>
        <span flex></span>

        <catalog-menu-items></catalog-menu-items>
        
        <span flex></span>

        <h2 class="md-title" style="color:white ;" ng-show="isLogued">{{usuario.nickname}}</h2>
        <md-button class="md-raised btn-chq-ingresa" ui-sref="login"  ng-show="! isLogued">  {{'INGRESA' | translate}}   </md-button>

        <div style="position: relative; height: 80px; width: 120px; margin-top: 40px;" ng-show="isLogued" class="avatar">
            <md-grid-list md-cols="3" md-row-height="1:1" style="position: relative; background-color:#462342;">
                <md-grid-tile layout="row" md-colspan="2" md-rowspan="2">
                    <img id="avatar" ng-src="{{urlBase}}{{usuario.avatar}}"  style="border-radius: 10%;
                    box-shadow:0px 1px 3px 0px rgba(0, 0, 0, 0.5), 0px 1px 1px 0px rgba(0, 0, 0, 0.3), 0px 2px 1px -1px rgba(0, 0, 0, 0.4); border: 3px solid #fff;">
                </md-grid-tile>
                <md-grid-tile md-colspan="1" md-rowspan="1" >
                    <md-button class="md-secondary" ng-click="logOut()" style="width: 40px;
                                            height: 40px;
                                            min-width: 40px;
                                            min-height: 40px;
                                            margin: 0px;
                                            right: 0px;
                                            padding: 0px;
                                            background-color: #462342 !important;
                                            border-radius: 0;">
                        <md-icon style="color:white; margin-right: 0.5rem !important;"> exit_to_app </md-icon>
                    </md-button>
                </md-grid-tile>
                <md-grid-tile md-colspan="1" md-rowspan="1">
                    <md-button  ng-click="verNotificaciones()" style="width: 40px;
                                            height: 40px;
                                            min-width: 40px;
                                            min-height: 40px;
                                            margin: 0px;
                                            right: 0px;
                                            padding: 0px;
                                            background-color: #462342 !important;
                                            border-radius: 0;">
                        <ng-md-icon options="{{options}}" id="icon" icon="{{icon}}" style="fill: {{fill}}; margin-right: 0.5rem !important;" />
                        <md-tooltip style="color:#fff" md-direction="left">
                             {{'SIN_LEER' | translate}} {{notificacionesSinLeer}} </md-tooltip>
                    </md-button>
                </md-grid-tile>
            </md-grid-list>
        </div>
    </div>
</md-toolbar>


<style>
    .avatar figure{
        border-radius: 0 !important;
        background-color: #462342 !important;
        margin-left: 0.5rem;
        padding-right: 0.2rem;
        min-width: 80px !important;
    }
</style>