<div class="ch-content-full">
    <div class="ch-catalog-controls ch-catalog-controls-left">
        <div layout=column>
            <div >
                <section ng-include="'app/comercio/catalogo/filtros.html'">
                </section>
            </div>
        </div>
    </div>
    <div layout=row layout-align="center">
        <div flex="1" class="ch-catalog-items" layout="column" layout-align="center">
            <div layout=row layout-align="center center" class="ch-catalog-items-filter">
                <md-input-container>
                    <input ng-keyup="$event.keyCode == 13 && catalogoCtrl.filtrar()"  ng-model="catalogoCtrl.queryText"  type="text" placeholder="{{'BUSCAR' | translate}}">
                </md-input-container>
                <md-button ng-click="catalogoCtrl.filtrar()" >
                    <md-icon md-svg-src="app/components/image/ic_search_black_24px.svg">
                    </md-icon>
                </md-button>
            </div>
            <div >
                <section ng-include="'app/comercio/catalogo/lista-productos.html'" ng-init="count = catalogoCtrl.count" ng-cloak></section>
            </div>
        </div>
    </div>
    <div ng-if="catalogoCtrl.isLogued" class="ch-catalog-controls ch-catalog-controls-right">
      <div >
        <section ng-include="'app/comercio/catalogo/contexto.compra.html'"></section>

        <section ng-include="'app/comercio/catalogo/contexto.pedido.html'" ng-cloak></section>
      </div>
    </div>
</div>
