<div id="chasqui-content-full">
  <div class="archive-box-catalogo">
    <div layout=row layout-xs="column">
      <div flex="25" class="nombreseccion">
        <div layout=column>
          <h3>Catalogo de compras</h3>
        </div>
      </div>


      <div flex>
        <div>
          <div class="search-input-container"> 

            <input ng-keyup="$event.keyCode == 13 &amp;&amp; catalogoCtrl.filtrar()" ng-model="catalogoCtrl.queryText" type="text" class="buscador-catalogo" aria-invalid="false" placeholder=" Tu busqueda empieza aqui... ">   

            <button type="submit" class="btn btn-default search_submit" ng-click="catalogoCtrl.filtrar()">
              <md-icon style="color:white;">search</md-icon>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="ch-content">
  <div layout="row" layout-xs="column">
  
    <div flex-xs>
      <div layout="column">
        <!-- Cambios de ubicacion en el carro de compra - tom -->			
        <div ng-if="catalogoCtrl.isLogued" >
          <section ng-include="'app/comercio/catalogo/contexto.compra.html'"></section>
          <section ng-include="'app/comercio/catalogo/contexto.pedido.html'" ng-cloak></section>
        </div>

        <div>
          <section ng-include="'app/comercio/catalogo/filtros.html'">
          </section>
        </div>
      </div>
    </div>
    <div flex >
      <section ng-include="'app/comercio/catalogo/lista-productos.html'" ng-init="count = catalogoCtrl.count" ng-cloak></section>
    </div>
  </div>
</div>

<!-- Buscador para realizar TOM -->

  
<style>

.search_submit  {
    width:10%;
    position: absolute;
    height: 45px;
    line-height: 45px;
    text-align: center;
    text-align: center;
    color: white;
    background: #242424;
    padding: 0 35px;
    border: 0;
    font-size: 14px;
    font-weight: 500;
    border-radius: 0 25px 25px 0;	
    -webkit-border-radius: 0 25px 25px 0;
    -moz-border-radius: 0 25px 25px 0;
    -ms-border-radius: 0 25px 25px 0;
    -o-border-radius: 0 25px 25px 0;

    -webkit-transition: all 300ms linear;
    -moz-transition: all 300ms linear;
    -ms-transition: all 300ms linear;
    -o-transition: all 300ms linear;
    transition: all 300ms linear;
}

.btn {
    display: inline-block;
    font-weight: 400;
    line-height: 1.25;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: .4rem 0rem;
    font-size: 1rem;

}

</style>