<element-wrapper supported-strategies="gcc">
    <div ng-controller="ContextoCompraController">
        <md-card>
            <md-card-content>
                <div>
                    <md-input-container class="md-block" flex-gt-sm>
                        <label>{{'CAMBIAR_CHANGO' | translate}}</label>
                        <md-select ng-change="cambiarContexto()" ng-model="grupoSelected">
                            <md-option ng-repeat="grupo in grupos" value="{{grupo.idGrupo}}"> {{grupo.alias}} </md-option>
                        </md-select>
                    </md-input-container>
                </div>
            </md-card-content>
        </md-card>
    </div>
</element-wrapper>