<!-- 22/01/2017 Juan: Este template no se esta usando -->
<div ng-controller="ContextoPedidoController as contextoPedidoCtrl">
  <md-sidenav class="md-sidenav-left" md-component-id="left" md-disable-backdrop md-whiteframe="4" style="top:15%;">
    <md-toolbar class="md-theme-indigo">
        <md-subheader class="md-no-sticky"> {{'PROD_EN_PEDIDO' | translate}} {{contextoPedidoCtrl.checkAlias()}}
        </md-subheader>
    </md-toolbar>
    <div ng-show="contextoPedidoCtrl.pedidoSelected != undefined && contextoPedidoCtrl.pedidoSelected.productosResponse.length > 0">
      <md-list class="md-dense" flex>
        <md-list-item class="md-3-line" ng-repeat="variety in contextoPedidoCtrl.pedidoSelected.productosResponse">
              <img ng-src="{{contextoPedidoCtrl.urlBase}}{{variety.imagen}}" class="md-avatar" alt="{{variety.nombre}}"/>            
              <div class="md-list-item-text" layout="column">
                <h4>{{ variety.nombre }}</h4>
                <p>{{variety.cantidad}} X $ {{ variety.precio }} = ${{variety.cantidad * variety.precio }} </p>
              </div>
        </md-list-item>
        <md-divider></md-divider>
      </md-list>
      <div>
        {{'TOTAL' | translate}}
        <strong> $ {{contextoPedidoCtrl.pedidoSelected.montoActual}}</strong>
      </div>
    </div>
    <div ng-show="contextoPedidoCtrl.pedidoSelected == undefined ">
      <p> {{'SIN_PROD_PEDIDO' | translate}}</p>
    </div>
    <md-button ng-click="catalogoCtrl.toggleLeft()" class="md-accent">
      {{'CERRAR' | translate}}
    </md-button>
  </md-sidenav>
</div>
