
<md-card3 class="ch-contexto-pedido-panel" ng-controller="ContextoPedidoController">
    <div ng-show="showOrderResume">
      <div layout="row" layout-align="space-between" class="cart-event-content" ng-click="OpenCart(openCartStatus)">
        <md-icon class="ng-scope material-icons" role="img" aria-label="editar">shopping_cart</md-icon>
        <h3>
          <element-wrapper not-supported-strategies="nodos">
            {{'PROD_EN_PEDIDO' | translate}} {{pedidoSelected.aliasGrupo}}: {{pedidoSelected.productosResponse.length}}
          </element-wrapper>
          <element-wrapper supported-strategies="nodos">
            {{'PROD_EN_PEDIDO_NODO' | translate}}: {{pedidoSelected.productosResponse.length}}
          </element-wrapper>
        </h3>
        <div>
          <h4 class="cart-total-precio">
            TOTAL<br/>
            <strong>$ {{pedidoSelected.montoActual + pedidoSelected.incentivoActual}}</strong>
          </h4>
        </div>
        <md-icon class="ng-scope material-icons material-icons-arrow" role="img" aria-label="editar">{{ openCartStatus ? 'keyboard_arrow_down' : 'keyboard_arrow_right'}}</md-icon>
      </div>

      <ul class="cart-list {{openCartStatus ? 'cart-list-open': ''}}">
        <li class="cart-list-item" ng-repeat="variety in pedidoSelected.productosResponse">
            <h5 class="cart-list-titulo">{{ variety.nombre }}</h5>
            <figure>
              <img ng-src="{{urlBase}}{{variety.imagen}}" class="cart-list-img" alt="{{variety.nombre}}" />
            </figure>
            <h3 class="cart-list-precio">$ {{ variety.cantidad * (variety.precio + variety.incentivo) }}</h3>
            <md-button mb-stroked ng-click="modifyVarietyCount(variety, pedidoSelected)" ng-disabled="pedidoSelected.estado == 'CONFIRMADO'" class="cart-list-cantidad">
              {{variety.cantidad}} {{ variety.cantidad > 1 ? 'unidades' : 'unidad'}}
              <md-icon class="ng-scope material-icons" role="img" aria-label="editar">mode</md-icon>
            </md-button>
        </li>
      </ul>

      <div layout="row" layout-align="end" class="cart-event-content">
        <md-button style="color: white" ng-click="cancelOrder(pedidoSelected)" class="cancel-order order-button-catalog"
          ng-show="pedidoSelected.estado != 'CONFIRMADO'">
          <label translate="CANCELAR"></label>
        </md-button>
        <md-button style="color: white" ng-click="confirmOrder(pedidoSelected)" class="confirm-order order-button-catalog"
          ng-show="pedidoSelected.estado != 'CONFIRMADO'">
          <label translate="CONFIRMAR"></label>
        </md-button>
      </div>

        <!-- <md-list class="md-dense ch-contexto-pedido-panel-list">
            <md-list-item class="md-3-line ch-contexto-pedido-panel-list-item" ng-repeat="variety in pedidoSelected.productosResponse">
                <md-button ng-click="modifyVarietyCount(variety, pedidoSelected)" ng-disabled="pedidoSelected.estado == 'CONFIRMADO'">
                    <div layout="row" layout-align="space-between center">
                          <img ng-src="{{urlBase}}{{variety.imagen}}" class="md-avatar" alt="{{variety.nombre}}" />
                        <div class="md-list-item-text" layout="column">
                            <h4>{{ variety.nombre }}</h4>
                            <p layout="row" layout-align="start end">
                              <label>
                                {{variety.cantidad}} x 
                              </label>
                              <chq-price-product precio="variety.precio + variety.incentivo" tamanho="0.7"></chq-price-product>
                              <label style="margin-left: 3px; margin-right: 3px;">
                                = 
                              </label>
                              <chq-price-product precio="variety.cantidad * (variety.precio + variety.incentivo)" tamanho="0.8"></chq-price-product>
                            </p>
                        </div>
                    </div>
                    <md-tooltip md-direction="bottom" ng-show="pedidoSelected.estado != 'CONFIRMADO'">
                        Modificar cantidad
                    </md-tooltip>
                </md-button>
            </md-list-item>
        </md-list> -->
      <md-subheader class="md-no-sticky ch-contexto-pedido-descripcion" ng-show="pedidoSelected.estado == 'CONFIRMADO'">
          {{'PEDIDO_CONFIRMADO_MSG_1' | translate}} {{pedidoSelected.aliasGrupo}} {{'PEDIDO_CONFIRMADO_MSG_2' | translate}}
      </md-subheader>
    </div>
    <md-subheader ng-show="!showOrderResume">
      <element-wrapper not-supported-strategies="nodos">
          <p> {{'SIN_PROD_PEDIDO' | translate}} {{pedidoSelected.aliasGrupo}} </p>
      </element-wrapper>
      <element-wrapper supported-strategies="nodos">
            <p> {{'SIN_PROD_PEDIDO_NODO' | translate}}</p>
      </element-wrapper>
    </md-subheader>
</md-card3>

<style>
md-card3 {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    margin: 8px;
    /* box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12); */
    color: rgba(0,0,0,0.87);
	background-color: rgb(250,250,250);
}
</style>

