<!-- incluido en catalogo.html -->
<div layout="column">
	<md-card2 class="filtros-buscador">
		<md-card-title>
			</br> {{'BUSCAR_POR' | translate}}</br>
		</md-card-title>
		<md-card-content>
			<div>
				<md-input-container class="md-block" flex>
					<label>{{'CATEGORIA' | translate}}</label>
					<md-select  ng-model="catalogoCtrl.categoriaSelect">
						<md-select-header>
						<md-input-container>
						<input autocomplete="off" ng-keydown="$event.stopPropagation()" ng-model="terminoBusquedaC" type="search"
							placeholder="Buscar categoria..."/>
						</md-input-container>
						<md-select-header/>
						<md-option ng-repeat="categoria in catalogoCtrl.categorias | filter:terminoBusquedaC" value="{{categoria.idCategoria}}"> {{categoria.nombre}} </md-option>
					</md-select>
				</md-input-container>
			</div>
			<div flex>
				<md-input-container class="md-block" flex>
					<label>{{'PRODUCTOR' | translate}}</label>
					<md-select ng-model="catalogoCtrl.productorSelect">
						<md-input-container>
						<input autocomplete="off" ng-keydown="$event.stopPropagation()" ng-model="terminoBusquedaP" type="search"
							placeholder="Buscar productor..."/>
						</md-input-container>
						<md-option ng-repeat="productor in catalogoCtrl.productores | filter: terminoBusquedaP" value="{{productor.idProductor}}"> {{productor.nombreProductor}} </md-option>
					</md-select>
				</md-input-container>
			</div>
			<div flex>
				<md-input-container class="md-block" flex>
					<label>{{'SELLO' | translate}}</label>
					<md-select ng-model="catalogoCtrl.medallaSelect">
            <md-option ng-repeat="medalla in catalogoCtrl.medallas" 
              value="{{ medalla.idMedalla }}"
              ng-click="setMedallaSelect(medalla, 'product')">
							<div layout="row" layout-align="start center">
								<img ng-src="{{catalogoCtrl.urlBase}}{{medalla.pathImagen}}" class="md-avatar" width="40" height="40"> <span style="padding-left: 1rem;">{{medalla.id}} {{medalla.nombre}}</span>
							</div>
            </md-option>
            <md-option ng-repeat="medallaProductor in catalogoCtrl.medallasProductor" 
              value="{{ medallaProductor.idMedalla + catalogoCtrl.diffIdMedalla}}"
              ng-click="setMedallaSelect(medallaProductor, 'producer')">
              <div layout="row" layout-align="start center">
                <img ng-src="{{catalogoCtrl.urlBase}}{{medallaProductor.pathImagen}}" class="md-avatar" width="40" height="40"> <span style="padding-left: 1rem;">{{medallaProductor.id}} {{medallaProductor.nombre}}</span>
              </div>
            </md-option>
					</md-select>
				</md-input-container>
			</div>
			<div>                    
			<div class="button-filtro" ng-click="catalogoCtrl.filtrar()" >
				{{'BUSCAR' | translate}}
            </div>
            <div class="button-filtro" ng-click="catalogoCtrl.limpiarFiltros()">
				{{'BORRAR_FILTROS' | translate}}
            </div>
      </div>
		</md-card-content>
	</md-card2>
</div>


<style>
md-card2 {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    margin: 8px;
    /* box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12); */
color: rgba(0,0,0,0.87);
    /* background-color: rgb(255,255,255); */
    /* border-radius: 2px; */
    /* border-color: #111; */
    /* border: 1px;

}


</style>
