<div ng-controller="ListaProductosController as listaProductosCtrl">
  <span ng-show="listaProductosCtrl.productos.length === 0">
        {{'SIN_PRODUCTOS' | translate}}
  </span>
  <chq-catalog-box ng-cloak>
    <chq-product-card ng-repeat="producto in listaProductosCtrl.productos" data="producto">

      <chq-principal-product-image
        image="{{listaProductosCtrl.urlBase}}{{producto.imagenPrincipal}}"
        texto="Explore mas imágenes"
        ng-click="listaProductosCtrl.mostrar(producto)">
      </chq-principal-product-image>
	  
      <div class="card-chasqui">
        <div>
          <chq-price-product precio="producto.precio + producto.incentivo" tamanho="1.6"></chq-price-product>
            
          <chq-product-description description="producto.nombreProducto"></chq-product-description>

          <chq-producer-name
            nombre="producto.nombreFabricante"
            ng-click="listaProductosCtrl.showPrerenderedDialogProductor(producto.idFabricante)">
          </chq-producer-name>
        </div>
        <div class="chq-product-bottom">
          
          <div class="chq-product-stamps">
            <chq-stamp
              ng-repeat="medalla in producto.medallasProducto"
              ng-click="listaProductosCtrl.showPrerenderedDialog(medalla)"
              image="{{listaProductosCtrl.urlBase}}{{medalla.pathImagen}}"
              texto="medalla.nombre">
            </chq-stamp>
            <chq-stamp
              ng-repeat="medalla in producto.medallasProductor"
              ng-click="listaProductosCtrl.showPrerenderedDialog(medalla)"
              image="{{listaProductosCtrl.urlBase}}{{medalla.pathImagen}}"
              texto="medalla.nombre">
            </chq-stamp>
          </div>
      
          <chq-add-button
            text="{{listaProductosCtrl.isLogged && listaProductosCtrl.permitirComprar? 'Agregar al changuito' : 'Ver detalle'}}"
            ng-click="listaProductosCtrl.mostrar(producto)"
            title="{{'Agregar al changuito'">
          </chq-add-button>
        </div>
      </div>

    </chq-product-card>
  </chq-catalog-box>
  
  
  <!-- <chq-paginator></chq-paginator> -->
  
  <div align="center" class="paginador">
  <cl-paging flex cl-pages="listaProductosCtrl.paging.total" , cl-steps="6" , cl-page-changed="listaProductosCtrl.paging.onPageChanged()" ,
   cl-align="center center" , cl-current-page="listaProductosCtrl.paging.current"></cl-paging>
  <div>

  <!-- ********************* dialogo de medalla *******************-->
  
  
  <div style="visibility: hidden">
      <div class="md-dialog-container" id="myDialog">
          <md-dialog class="dialogo-medalla-productor">
              <modal-window-title-bar 
                title="{{listaProductosCtrl.medallaSelect.nombre}}"
                cancel-action="listaProductosCtrl.cerrarDialogoMedalla">
              </modal-window-title-bar>
              <md-dialog-content class="ch-dialog-content">
                  <ch-image src="listaProductosCtrl.medallaSelect.pathImagen" width="200" height="200" class="dialogo-imagen" ></ch-image>
                  <div class="txt-medalla" ng-bind-html="listaProductosCtrl.medallaSelect.descripcion"></div>
              </md-dialog-content>
          </md-dialog>
      </div>
  </div>

  <!-- ********************* dialogo de productor *******************-->
  <div style="visibility: hidden">
      <div class="md-dialog-container" id="productorDialog">
          <md-dialog class="dialogo-medalla-productor">
              <modal-window-title-bar 
                title="{{listaProductosCtrl.emprendedorSelect.nombreProductor}}"
                cancel-action="listaProductosCtrl.cerrarDialogoMedalla">
              </modal-window-title-bar>
              <md-dialog-content class="ch-dialog-content">
                <ch-image src="listaProductosCtrl.emprendedorSelect.pathImagen" width="200" height="200" class="dialogo-imagen"></ch-image>
              <div class="txt-medalla" ng-bind-html="listaProductosCtrl.emprendedorSelect.descripcionCorta"></div>
              </md-dialog-content>
              <!--<md-button ui-sref="catalog.productor({idProductor: listaProductosCtrl.emprendedorSelect.idProductor})">
                      Más
              </md-button>-->

          </md-dialog>
      </div>
   </div>
</div>



<style>
.dialogo-medalla-productor {
width:350px;
}
.dialogo-imagen {
padding-bottom:20px;
padding-top:10px;
}


</style>