<div ng-controller="ListaProductosDestacadosController as ctrl">

		<div class="destacado">
              <h5> Productos destacados </h5>
        </div>
		
		
		
<div class="container">
		

        <slick  slides-to-show="3"  slides-to-scroll="1" ng-if="ctrl.loaded" infinite="true" autoplay="true" autoplaySpeed="3800">
        <div layout-wrap ng-repeat="producto in ctrl.productos" flex="20" flex-gt-sm="20"><!-- ng-click="ctrl.ir('catalog.products')">-->
            
			<div  layout="column" layout-align="space-between" class="ch-destacado" >
                
				<div class="img-destacado">
                    <img ng-src="{{ctrl.urlbase}}{{producto.imagenPrincipal}}"  alt="" style="width: 100%">
                </div>
                <div class="nombre-producto" >
                    <p>{{producto.nombreProducto}}</p>
                </div>	
                <div class="nombre-fabricante">
                    <p>{{producto.nombreFabricante}}</p>
                </div>				
                <div class="precio-variedad">
                    <p>${{producto.precioParteEntera}}.{{ctrl.mostrarDecimales(producto.precioParteDecimal)}}</p>
                </div>
				
                <div class="chq-sello-producto" layout="row" layout-align="start start" > 
				
				<div class="txt-sellos">Sellos</div>
                    <picture ng-repeat="medalla in producto.medallasProducto">
                    <img ng-src="{{ctrl.urlbase}}{{medalla.pathImagen}}" class="medallas-destacados"> <!--ng-click="ctrl.showPrerenderedDialog(medalla)">-->
                        <md-tooltip md-direction="up">
                            {{medalla.nombre}}
                        </md-tooltip>
                    </picture>
                </div>
				

            </div>
        </div>
        </slick>

	
 

 
 
        <!-- ********************* dialogo de medalla *******************-->
    <div style="visibility: hidden">
        <div class="md-dialog-container" id="myDialog">
            <md-dialog layout-padding style="width:40%;">
                <div class="md-toolbar-tools chq-color-toolbar">
                    <h2 class="md-headline">{{ctrl.medallaSelect.nombre}}</h2>
                    <span flex></span>
                    <div ng-click="ctrl.cerrarDialogoMedalla(1)">
                        <a href=""><i style="font-size: 18px; color:#cbcbcb" class="material-icons">close</i></a>
                    </div>
                </div>
                <div layout="column" layout-align="center center">
                    <img ng-src="{{ctrl.urlbase}}{{ctrl.medallaSelect.pathImagen}}" width="200" height="200">
                    <div ng-bind-html="ctrl.medallaSelect.descripcion" />
                </div>
            </md-dialog>
        </div>
    </div>

</div>









<style>

    .ch-destacado{
        display: flex;
        flex-direction: column;
        width: 100%;
        height: auto;
        border: 1px solid #3333331a;
        transition: all .5s ease;
        overflow: hidden;
        background-color: #fff;
        border-radius: 6px 6px 0 0;
    }

    .ch-destacado:hover{
        box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.4);
        transition: all .5s ease;
    }
    .ch-destacado > *{
        margin: 10px;

    }
    
    .ch-destacado .img-destacado{
      overflow: hidden;
      height: 220px;
    }

    .ch-destacado:hover > .img-destacado img{
        width: 100%;
        transform : scale(1.3);
        -moz-transform : scale(1.3);      /* Firefox */
        -webkit-transform : scale(1.3);   /* Chrome - Safari */
        -o-transform : scale(1.3);        /* Opera */
        transition: all 500ms;
    }

    .ch-destacado > .nombre-producto{
     color: #333;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.29;
    cursor: pointer;
    transition: all .5s ease;
     height: 28px;
    }
    
    .ch-destacado > .nombre-fabricante{
    color: #652d90;
    font-size: 12px;
    font-weight: 600;
    line-height: 1.29;
    cursor: pointer;
    transition: all .5s ease;
    text-transform: uppercase;
    height: 20px;
    }   
    
    .ch-destacado > .nombre-variedad{
        padding: .3rem .3rem;
        height: 1.3rem;
    }

    .ch-destacado > .precio-variedad{
        cursor: default;
        display: flex;
        flex-direction: row;
        color: #00adee;     
        font-weight: 600;
        font-size: 24px;
        line-height: 30px;
    }

    .ch-destacado > .precio-variedad h3{
        padding: 0 .3rem !important;
    }

    .ch-destacado .medallas-destacados{
        width: 9%;
        transition: all .4s; 
    }

    .ch-destacado .medallas-destacados:hover{
        transform: rotate(-45deg);
        transition: all .4s;
    }

    .ch-destacado .chq-sello-producto{  
    border-top: 1px solid #3333331a;
    padding-top: 6px;
    height: 40px;
    }   
    .destacado{
    height: 40px;
    max-width: 570px;
    margin: 60px auto 30px;
    position: relative;
    padding-top: 10px;
    background-image: url("app/components/image/line-titulo.png");
    /* height: 40px; */!important;
    background-color: rgba(255, 255, 255, 0);!important;
    
    }   

   .destacado h5 {
    font-family: roboto;
    font-size: 22px;
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
    background: #4e2d7e;
    z-index: 99;
    padding: 7px 23px;
    margin: -7px auto;
    display: table;
}   


</style>