<md-dialog style="width:960px; height:555px; margin-top: 20px;">
    
	<modal-window-title-bar title="" cancel-action="cerrariDalogo"></modal-window-title-bar>
	
	
    <md-dialog-content>

        <div layout="row" layout-xs="column">
            	
			<div flex="50">
                <img ng-src="{{urlBase}}{{imageSelect}}" style="max-height:300px; margin-left:20px;" class="tarjeta-imagen">
				
				<div layout="row" style="margin-left:18px;">
                <div ng-repeat="image in imagenes" class="image-mini-preview" >
                <img ng-src="{{urlBase}}{{image.path}}" style="height:96px;" ng-click="setImageSelected(image.path)">
                </div>
            </div>
            </div>
			
			<div flex>
                    <div layout="column" style="margin-left:20px;">
					    <div class="md-subhead tarjeta-fabricante">
                            {{producto.nombreFabricante}}
                        </div>
					    <h2 class="tarjeta-nombre"> {{producto.nombreProducto}} </h2>
					    <div class="tarjeta-price">$ {{producto.precioParteEntera}}.{{mostrarDecimales(producto.precioParteDecimal)}}
                        </div>
						<div class="tarjeta-line"></div>
                        
                        <div class="md-subhead tarjeta-descripcion">
                            <div ng-bind-html="producto.descripcion"></div>
                        </div>
                    </div>
            </div>		
        </div>
    	
	</md-dialog-content>
</md-dialog>



<style type="text/css">
.image-preview {
}


</style>