<div class="ch-group">
  <div class="ch-group-info">
    <div>
      <md-button class="md-raised md-primary md-button md-ink-ripple" ui-sref="catalog.userNodes.all" layout="row" layout-align="center">
        <md-icon class="ch-button-content"> keyboard_arrow_left </md-icon>  
        Volver
      </md-button>
    </div>
  </div>
  <div class="ch-groups-help ch-help-questions">
    <div class="fade-in-left">
      <div ng-repeat="(i, pregunta) in preguntas" class="ch-group-card ch-groups-help-question" ng-click="showHelpsAnswer(i)" style="cursor: pointer;">
        <div layout="row" layout-align="space-between center" class="ch-groups-help-question-title">
          <span>
            {{pregunta.titulo}}
          </span>
          <i class="material-icons" ng-show="!showHelp[i]">
            expand_more
          </i>
          <i class="material-icons" ng-show="showHelp[i]">
            expand_less
          </i>
        </div>
        <div ng-show="showHelp[i]" class="ch-groups-help-question-answer" ng-class="showHelp[i]? 'extend-top' : ''">
          <div ng-repeat="paso in pregunta.pasos">
            <li>{{paso.principal}}</li>
            <ol type="a">
              <li ng-repeat="subpaso in paso.subPasos"> {{subpaso}}</li>
            </ol>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>