<!--       <div id="chasqui-content-full">
    <div class="archive-box-catalogo">
      <h3>Notificaciones</h3>
    </div>
  </div>-->
  
<div id="chasqui-princiodepagina2"></div> 
  
<div class="container-fluid ch-content md-padding" ng-cloak>
  <div class="ch-notifications-container">
    <div class="ch-notification ch-responsive-layout" ng-repeat="item in perfilCtrl.notificaciones" md-colors="{background: '{{perfilCtrl.getColor(item)}}'}">
      <div class="ch-notification-info">
        <md-icon class="ch-notification-info-icon ch-responsive-xl"> 
          notifications_active
        </md-icon>
        <div class="ch-notification-info-text">
          <h4> {{item.fechaCreacion}} -  De: {{item.usuarioOrigen}} </h4>
          <label>{{item.mensaje}}</label>
        </div>
      </div>
      <div layout="row" layout-align="end center"> 
        <md-button 
          class="md-raised md-primary" 
          ng-show="item.estado == 'NOTIFICACION_NO_LEIDA' && !perfilCtrl.isCompraColectiva(item)"
          ng-click="perfilCtrl.marcarLeido(item)">
          <md-icon> assignment_turned_in </md-icon>
          <md-tooltip md-direction="left">
            <label translate="ENTIENDO"></label>
          </md-tooltip>
        </md-button>

        <md-button 
          class="md-raised confirm-order order-button-catalog" 
          ng-show="perfilCtrl.isCompraColectiva(item) && item.estado == 'NOTIFICACION_NO_LEIDA'" 
          ng-click="perfilCtrl.aceptarInvitacion(item)">
          <md-icon> group_add </md-icon>
          <md-tooltip md-direction="left">
            Aceptar invitación a grupo 
          </md-tooltip>
        </md-button>

        <md-button 
          class="md-raised cancel-order order-button-catalog" 
          ng-show="perfilCtrl.isCompraColectiva(item) && item.estado == 'NOTIFICACION_NO_LEIDA'"
          ng-click="perfilCtrl.rechazarInvitacion(item)">
          <md-icon> person_add_disabled </md-icon>
          <md-tooltip md-direction="left">
            Rechazar invitación a grupo 
          </md-tooltip>
        </md-button>                
      </div>
    </div>
  </div>
  <div align="center">
    <cl-paging flex cl-pages="paging.total" , cl-steps="6" , cl-page-changed="paging.onPageChanged()" , cl-align="center center" , cl-current-page="paging.current"></cl-paging>
  <div>
</div>
