<div ng-controller="PedidoGruposController as pedidoGrupoCtrl" ng-cloak layout="column" lyout-align="space-between center">
    <div layout="column" layout-align="space-between">
      <div style="margin: 8px;">
        <div layout="row" layout-align="end center">
          ${{montoTotalGrupo()}}/{{montoMinimo}}
        </div>
        <md-progress-linear ng-class="estadoPedido()" md-mode="determinate" value="{{porcentajeMontoMinimo}}"></md-progress-linear>
      </div>
      <md-button class="btn-confirmar" 
          ng-click="confirmGCCOrder()"
          ng-show="grupo.esAdministrador"
          ng-disabled="!puedeCerrarPedidoGCC()">
          <label translate>
              CONFIRMAR_PEDIDO
          </label>
          <md-icon ng-show="puedeCerrarPedidoGCC()" style="color:white">
              done
          </md-icon>
          <md-tooltip md-direction="left" ng-show="puedeCerrarPedidoGCC()">
              {{cerrarToolTipMsg()}}
          </md-tooltip>
          <md-tooltip md-direction="left" ng-show="puedeCerrarPedidoGCC()">
              {{cerrarToolTipMsg()}}
          </md-tooltip>
          <md-tooltip md-direction="left" ng-show="!puedeCerrarPedidoGCC()">
              {{cerradoToolTipMsg()}}
          </md-tooltip>          
      </md-button>
    </div>
 
    <md-card ng-show="grupo.miembros">
        <md-card-content>
            <md-tabs>
                <md-tab
                  ng-repeat="miembro in miembrosActivosDelGrupo" 
                  label="{{::selfPara(miembro)}}"
                >
                    <div>
                        <div ng-show="miembro.pedido == null || miembro.pedido.productosResponse.lenght == 0" flex="40">
                            <label translate="MIEMBRO_SIN_PROD"></label>
                        </div>

                        <div ng-show="miembro.pedido != null || miembro.pedido.productosResponse.lenght > 0 "
                          style="margin: 10px;"
                          layout="row" layout-align="space-between center">                             
                            <div>Estado:</div>
                            <div>{{miembro.pedido.estado}}</div>
                        </div>

                        <div layout="row" layout-align="space-between center"
                          ng-show="miembro.pedido != null || (miembro.pedido.productosResponse.lenght > 0  && miembro.pedido.estado == 'CONFIRMADO')"
                          style="margin: 10px;">
                            <div>Total:</div>
                            <div>${{totalForMember(miembro)}}</div>
                        </div>

                        <md-list class="md-dense" flex>
                            <md-list-item class="md-3-line" ng-repeat="item in miembro.pedido.productosResponse">
                                <img ng-src="{{urlBase}}{{item.imagen}}" class="md-avatar" alt="{{item.nombre}}" />
                                <div class="md-list-item-text" layout="column">
                                    {{ item.nombre }}
                                    <p>{{item.cantidad}} X $ {{ item.precio }} = ${{item.cantidad * item.precio }} </p>
                                </div>
                            </md-list-item>
                        </md-list>
                    </div>
                </md-tab>
            </md-tabs>
        </md-card-content>
    </md-card>
</div>