<md-dialog>
    <form ng-cloak>
    <modal-window-title-bar class="ch-responsive-xl" title="{{title}}" cancel-action="cancelAction"></modal-window-title-bar>
    <modal-window-title-bar class="ch-responsive-s" title="{{responsiveTexts.title}}" cancel-action="cancelAction"></modal-window-title-bar>

    <md-dialog-content class="ch-tarjeta-contenedor ch-responsive-layout">
      <div class="ch-tarjeta-contenedor-column ch-responsive-xl">
        <div class="ch-tarjeta-contenedor-column-item">
          <img class="tarjeta-imagen" ng-src="{{urlBase}}{{imageSelect}}">
        </div>
        <div class="ch-tarjeta-contenedor-column-item">
          <img ng-repeat="image in imagenes" 
               class="image-mini-producto" 
               ng-src="{{urlBase}}{{image.path}}" 
               ng-click="setImageSelected(image.path)">
        </div>
      </div>
      <div class="ch-tarjeta-contenedor-column ch-responsive-s">
        <div class="ch-tarjeta-contenedor-column-item" style="position: relative;">
          <ul rn-carousel 
              rn-carousel-auto-slide 
              rn-carousel-duration="{{100}}"
              rn-carousel-transition="{{'slide'}}"
              class="ch-tarjeta-carousel">

            <li ng-repeat="image in imagenes" style="flex: 1;">
                <img ng-src="{{urlBase}}{{image.path}}" class="tarjeta-imagen" alt="cargando...">
            </li>
          </ul>
        </div>
      </div>
      
      <div class="ch-tarjeta-contenedor-column">
            <div flex="1" class="ch-modal-price-per-unit-and-description">
              <div flex="1" style="margin-bottom: 20px; font-style: italic" ng-bind-html="variety.descripcion">
              </div>
              <div  flex="1" layout="row" layout-align="start end">
                <label style="margin-right: 5px;">
                  El precio por unidad es
                </label>
                <chq-price-product precio="variety.precio + variety.incentivo" tamanho="1.2"></chq-price-product>
              </div>
            </div>
            <div flex="1" layout="column" layout-align="space-around" ng-if="isLogged && ventasHabilitadas">
                <div layout="row" layout-align="space-between center" flex="100">
                    <div flex="70" style="font-weight: bold">
                        ¿Cuántos querés?
                    </div>
                    <div layout="row" layout-align="space-between center" flex="30" class="suma-cantidad">
                      <a href="" ng-disabled="count() <= 0">
                        <i class="material-icons" ng-click="countPlus(-1)">
                          remove
                        </i>
                      </a>
                      <div class="suma-cantidad-input">
                        <input ng-model="count" ng-model-options="{ getterSetter: true }">
                      </div>
                      <a href="">
                        <i class="material-icons" ng-click="countPlus(1)" ng-show="ventasHabilitadas">
                          add
                        </i>
                      </a>
                    </div>
                </div>
                <div layout="row" layout-align="space-between center" flex="100" class="suma-copy">
                    <div flex="70" style="font-weight: bold">
                        <div ng-show="count() == 0">
                          No llevar el producto te sale:
                        </div>
                        <div ng-show="count() == 1">
                          La unidad te sale:
                        </div>
                        <div ng-show="count() > 1">
                          Las {{count()}} unidades te saldrían:
                        </div>
                    </div>
                    <div flex="30" layout="row" layout-align="center">
                        <div ng-show="count() == 0">
                          Gratis
                        </div>
                        <div ng-show="count() > 0">
                          <chq-price-product precio="getTotal(variety)" tamanho="1.2"></chq-price-product>
                        </div>
                    </div>
                </div>
                <div layout="row" layout-align="space-between center" flex="100">
                    <div flex="70" style="font-weight: bold">
                        {{getTotalLabel()}}
                    </div>
                    <div flex="30" layout="row" layout-align="center">
                        <chq-price-product precio="getTotalOrder(variety)" tamanho="1.4"></chq-price-product>
                    </div>
                </div>
            </div>
        </div>
    </md-dialog-content>

    <md-dialog-actions layout="row" layout-align="end center">
      <md-button ng-click="cancelAction()" class="md-primary">
          {{cancelButton}}
      </md-button>
      <md-button ng-click="okAction(count())" class="md-raised md-primary ch-responsive-xl" ng-show="showOkButton()" ng-if="ventasHabilitadas">
          {{okButton()}}
      </md-button>
      <md-button ng-click="okAction(count())" class="md-raised md-primary ch-responsive-s" ng-show="showOkButton()" ng-if="ventasHabilitadas">
          {{okButtonResponsive()}}
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>
