<div class="ch-detalle-pedido-grupal-container">
  <div class="ch-arrow-list-container ch-group-members-orders-list">
    <div 
      class="ch-arrow-list-elem ch-group-members-orders-list-width ch-arrow-list-elem-select" 
      ng-click="showAll()" 
      ng-show="!showFullOrder"
      title="Ver todo el pedido">
      Todo el pedido
    </div>
    <div layout="row" layout-align="center center" ng-show="showFullOrder">
      <div class="ch-arrow-list-elem ch-group-members-orders-list-width ch-arrow-list-elem-hide">
        Todo el pedido
      </div>
      <div class="ch-arrow-list-elem-selected">
      </div>
    </div>
    <div ng-repeat="member in pedido.pedidos">      
      <div 
        class="ch-arrow-list-elem ch-group-members-orders-list-width ch-arrow-list-elem-select" 
        ng-click="showMemberOrder(member)" 
        ng-show="memberSelected != member"
        title="Ver el pedido de {{member.cliente.alias}}">
        Pedido de {{member.cliente.alias}}
      </div>
      <div 
        layout="row" layout-align="center center" 
        ng-click="hideMemberOrder(member)" 
        ng-show="memberSelected == member"
        title="Ocultar pedido de {{member.cliente.alias}}">
        <div class="ch-arrow-list-elem ch-group-members-orders-list-width ch-arrow-list-elem-hide">
          Pedido de {{member.cliente.alias}}
        </div>
        <div class="ch-arrow-list-elem-selected">
        </div>
      </div>
    </div>
  </div>
  
  <div class="ch-detalle-pedido-grupal-member-products" ng-cloak>
    <productos-pedido ng-show="showFullOrder" pedido="fullOrder"></productos-pedido>
    <productos-pedido ng-show="showOrder" pedido="memberSelected"></productos-pedido>
  </div>
</div>

<style>
  .ch-detalle-pedido-grupal-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-height: 700px;
  }
  
  .ch-group-members-orders-list {
    width: 350px;  
  }
  
  .ch-group-members-orders-list-width {
    width: 340px;
  }
  
  .ch-detalle-pedido-grupal-member-products {
    width: 350px;
  }
</style>