<div ng-cloak>
	<div layout="row" layout-align="space-between start">
		<div>
			<md-card>
				<md-card-title>
					<md-card-title-text>
						<span class="md-headline">
						{{pedido.aliasGrupo}}</span>
						<md-divider></md-divider>
					</md-card-title-text>
				</md-card-title>
				<md-card-content layout="row">
					<div layout="column">
						<span class="md-body-2">Creado el  : 
						<strong>{{pedido.fechaCreacion}} </strong></span>
						<span class="md-body-2">Monto actual : 
						<strong> ${{pedido.montoActual}} </strong></span>
						<span class="md-body-2">Estado : 
						<strong>{{pedido.estado}} </strong></span>
					</div>
				</md-card-content>
                
				<md-card-actions layout="row" layout-align="end center">
					<md-button ng-click="cancelOrder()" style="color:red">
						<label translate="CANCELAR"></label>
					</md-button>
					<md-button ng-click="confirmOrder()" class="md-primary">
						<label translate="CONFIRMAR"></label>
					</md-button>					
				</md-card-actions>
			</md-card>
			<md-card>
				<div layout="row">
					<md-button ng-click="continueBuying()">
						<img src="app/components/image/changuito_48x48.png">
						<md-tooltip md-direction="left">
							<label translate="IR_CATALOGO"></label>
						</md-tooltip>
					</md-button>
					<md-subheader>
						<label translate="SEGUIR_AGREGANDO"></label>
					</md-subheader>
				</div>
			</md-card>
		</div>
		
		<div>
			<md-subheader>
				<label translate="PRODUCTOS_CARRO_TIT"></label>
			</md-subheader>
			<productos-pedido pedido="pedido"></productos-pedido>
		</div>
	</div>
</div>
