<div layout=column>
    <md-card>
      <md-subheader class="md-accent" ng-if="group.esAdministrador">
        <label translate="GRUPO_ADMIN"></label>
      </md-subheader>
      <md-card-actions layout="row" layout-align="center center" ng-if="group.esAdministrador">
        <md-button ng-click="invitarUsuario(group)">
          <md-icon> group add </md-icon>
          <md-tooltip md-direction="bottom">
            <label translate="AGREGAR_GRUPO"></label>
          </md-tooltip>
        </md-button>
        <md-button ng-click="editGroup(group)">
          <md-icon> edit </md-icon>
          <md-tooltip md-direction="bottom">
            <label translate="EDITAR_GRUPO"></label>
          </md-tooltip>
        </md-button>
        <md-button ng-if="!group.esAdministrador" ng-click="exitGroup(group)">
          <md-icon style="color: #f00;"> remove_circle_outline</md-icon>
          <md-tooltip md-direction="bottom">
            <label translate="SALIR_GRUPO"></label>
          </md-tooltip>
        </md-button>
        <md-button ng-if="group.esAdministrador" ng-click="deleteGroup(group)">
          <md-icon style="color: #f00;"> remove_circle_outline</md-icon>
          <md-tooltip md-direction="bottom">
            <label translate="ELIMINAR_GRUPO"></label>
          </md-tooltip>
        </md-button>
      </md-card-actions>
    </md-card> 
</div>