<div layout="column" layout-align="space-between">
    
    <div class="ch-group-info">
        <h3> {{group.alias}} </dh3>
        <h4> {{group.descripcion}} </h4>
        <div layout="row" layout-align="start center">
            <div class="ch-avatar-min" ng-repeat="member in group.miembros" >
                <ch-image src="member.avatar" description="member.nickname"></ch-image>
            </div>
        </div>
        
        <div  style="margin: 8px;" flex>
          <div layout="row" layout-align="end center">
            <div layout="row" layout-align="space-around center">
              <div ng-hide="!showProgressBar"> Precio total del pedido :</div>
              <chq-price-product precio="montoTotalGrupo()" tamanho="1.3"></chq-price-product>
              <label ng-hide="showProgressBar" >/</label>
              <chq-price-product  ng-hide="showProgressBar" precio="montoMinimo" tamanho="1"></chq-price-product>
            </div>
          </div>
          <md-progress-linear ng-hide="showProgressBar" ng-class="estadoPedido" md-mode="determinate" value="{{porcentajeMontoMinimo}}">
          </md-progress-linear>
          <md-tooltip ng-hide="showProgressBar" md-direction="bottom">
              {{statusBarToolTipMsg()}}
          </md-tooltip>  
        </div>
        
    </div>
    
    <div layout="row" layout-align="space-between">
        
        <div class="ch-group-menu">
          <div class="ch-arrow-list-container">
            
            <div layout="row" layout-align="start center" class="ch-group-menu-item">
              <div ng-class="getArrowState('membersOrders')" class="ch-arrow-list-elem ch-group-menu-item-width" ng-click="goToState('membersOrders')"
                   ui-sref="catalog.userGroups.group.membersOrders">
                  Pedido actual
              </div>
              <div ng-show="selectedState == 'membersOrders'" class="ch-arrow-list-elem-selected">
              </div>
            </div>
            
            <div layout="row" layout-align="start center" class="ch-group-menu-item">
              <div ng-class="getArrowState('historicOrders')" class="ch-arrow-list-elem ch-group-menu-item-width" ng-click="goToState('historicOrders')"
                   ui-sref="catalog.userGroups.group.historicOrders">
                  Historial
              </div>
              <div ng-show="selectedState == 'historicOrders'" class="ch-arrow-list-elem-selected">
              </div>
            </div>
            
            <div layout="row" layout-align="start center" class="ch-group-menu-item">
              <div ng-class="getArrowState('admin')" class="ch-arrow-list-elem ch-group-menu-item-width" ng-click="goToState('admin')"
                   ui-sref="catalog.userGroups.group.admin">
                  Administración
              </div>
              <div ng-show="selectedState == 'admin'" class="ch-arrow-list-elem-selected">
              </div>
            </div>
            
          </div>
        </div>
        
        <div flex>
            <div ui-view></div>
        </div>
        
    </div>    
</div>

<style>
  
  .ch-group-menu {
    margin-right: 15px;
    width: 185px;
  }
  
  .ch-group-menu-item {
    width: 100%;
  }
  
  .ch-group-menu-item-width {
    width: 175px;
  }
  
</style>