
<div layout="row" layout-align="space-between center">
    <div>
        <span class="md-headline" translate>MIS_GRUPOS</span>
    </div>
    <div>
        <md-button ng-click="newGroup()" class="btn-agregar"> 
            <label translate="CREAR_GRUPO"></label>    
            <md-icon style="color:white"> group </md-icon>
            <md-tooltip md-direction="left">
                <label translate="CREAR_GRUPO_MSG"></label>                    
            </md-tooltip>
        </md-button>
    </div>
</div>

<div layout="column" layout-align="space-between">
    <div ng-repeat="(i, group) in groups">
        <md-list-item ng-class="getClassForItemGroup(i)" class="md-3-line" ng-click="showOptionsForGroup(i)" flex>
            <ch-image src="group.miembros[0].avatar" description="group.members[0].nickname + '(Administrador)'" class="md-avatar"></ch-image>
            <div class="md-list-item-text" layout="column" flex>
                <div layout="row" layout-align="space-between">
                    <h3>{{group.alias}}</h3>
                    <h4> ABIERTO </h4>
                </div>

                <h3>{{group.descripcion}}</h3>                            

                <h3>Hay {{countOrdersConfirmed(group)}} miembros que confirmaron su pedido.</h3>
            </div>
            <md-tooltip md-direction="bottom">
                <label>Mostrar opciones</label>
            </md-tooltip>
        </md-list-item>

        <div class="ch-item-options" layout="column" ng-show="showOptions[i]">
            <div>        
                <div layout="row" layout-align="start center">
                    <div class="ch-avatar-min" ng-repeat="member in group.miembros" >
                        <ch-image src="member.avatar" description="member.nickname"></ch-image>
                    </div>
                </div>
            </div>
            <div layout="row" layout-align="space-around center">
                <md-button ui-sref="catalog.userGroups.group.membersOrders({groupId: i})">
                    Ver pedidos de los miembros
                </md-button>
                <md-button ui-sref="catalog.userGroups.group.historicOrders({groupId: i})">
                    Ver historial de pedidos
                </md-button>
                <md-button ui-sref="catalog.userGroups.group.admin({groupId: i})">
                    Administrar grupo
                </md-button>
            </div>
        </div>
    </div>
</div>