<div ng-show="groups.length == 0" layout="column" layout-align="center center">
  <md-card style="width: 400px; margin-top: 50px; ">
    <md-card-content layout="column" layout-align="space-between">
      <label>
        Un grupo de compras colectivas está conformado por varias personas
        que se ponen de acuerdo para comprar conjuntamente a través de la 
        comunidad de consumo solidario 
        <label style="text-size: 1.2rem; font-weight: bold; font-style: italic;"> Chasqui </label>.
      </label>
      <div style="height: 30px;">
      </div>
      <label style="text-size: 1.2rem; font-style: italic;">
        ¿Por qué hacer compras colectivas?
      </label>
      <label style="margin-top: 10px;">
        Quienes participamos en un grupo de compras colectivas nos coordinamos 
        para que sea más fácil hacer y recibir los pedidos. Haciendo compras colectivas, 
        también reducimos los tiempos y costos de logística y contribuimos a la sustentabilidad 
        de las iniciativas de la Economía Social y Solidaria.  
      </label>
    </md-card-content>
    
    <md-card-actions layout="row" layout-align="center">
      <md-button ng-click="newGroup()" class="btn-agregar"> 
          <label translate="CREAR_NUEVO_GRUPO"></label>    
          <md-icon style="color:white"> group </md-icon>
      </md-button>
    </md-card-actions>
  </md-card>
</div>

<div ng-show="groups.length > 0">
  <div layout="row" layout-align="space-between center">
      <div>
          <md-button ng-click="newGroup()" class="btn-agregar"> 
              <label translate="CREAR_GRUPO"></label>    
              <md-icon style="color:white"> group </md-icon>
              <md-tooltip md-direction="left">
                  <label translate="CREAR_GRUPO_MSG"></label>                    
              </md-tooltip>
          </md-button>
      </div>
  </div>

  <div layout="column" layout-align="space-between">
      <div ng-repeat="(i, group) in groups" layout="column" layout-align="start">
          <md-list-item ng-class="getClassForItemGroup(i)" class="md-3-line" ng-click="showOptionsForGroup(i)" flex>
              <ch-image src="group.miembros[0].avatar" description="group.members[0].nickname + '(Administrador)'" class="md-avatar"></ch-image>
              <div  class="md-list-item-text" layout="column" flex>
                  <div layout="row" layout-align="space-between">
                      <h3>{{group.alias}}</h3>
                      <h4> ABIERTO </h4>
                  </div>

                  <h3>{{group.descripcion}}</h3>                            

                  <h3>Hay {{countOrdersConfirmed(group)}} miembros que confirmaron su pedido.</h3>
              </div>
              <md-tooltip md-direction="bottom">
                  <label>Mostrar opciones</label>
              </md-tooltip>
          </md-list-item>

          <div class="ch-item-options" layout="column" ng-show="showOptions[i]">
              <div>        
                  <div layout="row" layout-align="start center">
                      <div class="ch-avatar-min" ng-repeat="member in group.miembros" >
                          <ch-image src="member.avatar" description="member.nickname"></ch-image>
                      </div>
                  </div>
              </div>
              <div layout="row" layout-align="space-around center">
                  <md-button class="md-raised md-primary md-button md-ink-ripple" ui-sref="catalog.userGroups.group.membersOrders({groupId: i})">
                      Ver pedidos de los miembros
                  </md-button>
                  <md-button class="md-raised md-primary md-button md-ink-ripple" ui-sref="catalog.userGroups.group.historicOrders({groupId: i})">
                      Ver historial de pedidos
                  </md-button>
                  <md-button  class="md-raised md-primary md-button md-ink-ripple" ui-sref="catalog.userGroups.group.admin({groupId: i})">
                      Administrar grupo
                  </md-button>
              </div>
          </div>
      </div>
  </div>
</div>