<div flex="100">
  <div ng-show="pedidosFiltrados.length == 0" layout="row" layout-align="center center" style="font-style: italic;">
    El grupo no tiene pedidos confirmados
  </div>
  <md-list layout-fill ng-show="pedidosFiltrados.length > 0" style="padding: 0px;">
    <md-list-item style="background-color: #33ccff; font-weight: bold;">
      <div layout="row" layout-fill>
        <div flex="33" style="text-align: center">
          Fecha de confirmación
        </div>
        <div flex="33" style="text-align: center">
          Monto total
        </div>
        <div flex="34" style="text-align: center">
          Direccción de entrega
        </div>
      </div>
    </md-list-item>
    <md-list-item 
        class="md-1-line" 
        ng-repeat="(i, pedido) in pedidosFiltrados" 
        ng-class="classForItem(i)">
      <div ng-click="viewOrderDetail(adaptOrder(pedido))" layout-fill>
        <div layout="row" layout-fill>
          <div flex="33" style="text-align: center">
            {{pedido.fechaModificacion}}
          </div>
          <div flex="33" layout="row" layout-align="center center">
            <chq-price-product precio="montoTotal(pedido)" tamanho="1"></chq-price-product>
          </div>
          <div flex="34" style="text-align: center">
            {{direccionDeEntrega(pedido)}}
          </div>
        </div>
        <md-tooltip md-direction="bottom">
            Ver detalle
        </md-tooltip>
      </div>
    </md-list-item>
  </md-list>
</div>