<div ng-controller="PedidoGruposController as pedidoGrupoCtrl" ng-cloak layout="column" lyout-align="space-between center">
    <div layout="column" layout-align="space-between">
      <div style="margin: 8px;">
        <div layout="row" layout-align="space-between center">
          <div>
            Total compra / monto mínimo
          </div>
          <div layout="row" layout-align="center center">
            <chq-price-product precio="montoTotalGrupo()" tamanho="1"></chq-price-product>
            <label>/</label>
            <chq-price-product precio="montoMinimo" tamanho="1"></chq-price-product>
          </div>
        </div>
        <md-progress-linear ng-class="estadoPedido" md-mode="determinate" value="{{porcentajeMontoMinimo}}"></md-progress-linear>
      </div>
      <md-button class="btn-confirmar" 
          ng-click="confirmGCCOrder()"
          ng-show="grupo.esAdministrador"
          ng-disabled="!puedeCerrarPedidoGCC()">
          <label translate>
              CONFIRMAR_PEDIDO_GCC
          </label>
          <md-icon ng-show="puedeCerrarPedidoGCC()" style="color:white">
              done
          </md-icon>
          <md-tooltip md-direction="left" ng-show="puedeCerrarPedidoGCC()">
              {{cerrarToolTipMsg()}}
          </md-tooltip>
          <md-tooltip md-direction="left" ng-show="puedeCerrarPedidoGCC()">
              {{cerrarToolTipMsg()}}
          </md-tooltip>
          <md-tooltip md-direction="left" ng-show="!puedeCerrarPedidoGCC()">
              {{cerradoToolTipMsg()}}
          </md-tooltip>          
      </md-button>
    </div>
 
    <md-card ng-show="grupo.miembros">
        <md-card-title>
					<md-card-title-text>
						  <span class="md-headline">
						      Pedidos de cada miembro
              </span>
					</md-card-title-text>            
        </md-card-title>
        
        <md-card-content>
            <md-tabs>
                <md-tab
                  ng-repeat="miembro in miembrosActivosDelGrupo" 
                  label="{{::selfPara(miembro)}}"
                >
                    <md-content class="md-padding" layout="column" layout-align="space-around">
                        <div layout="column" layout-align="space-sround center" ng-show="miembro.pedido == null || miembro.pedido.productosResponse.length == 0 || miembro.pedido.estado == 'CANCELADO'">
                            <div ng-show="isLoggedUser(miembro)" layout="column" layout-align="space-between center">
                                <label translate="MIEMBRO_SIN_PROD"></label>
                                <continue-buying></continue-buying>
                            </div>
                            <div ng-hide="isLoggedUser(miembro)">
                            </div>
                        </div>

                        <div ng-show="miembro.pedido != null && miembro.pedido.productosResponse.length > 0 
                                      && (miembro.pedido.estado == 'CONFIRMADO' || miembro.pedido.estado == 'ABIERTO')"
                          style="margin: 10px;"
                          layout="row" layout-align="space-between center">                             
                            <div>Estado:</div>
                            <div class ="ch-estado-pedido" ng-class="classForState(miembro.pedido.estado)">
                                {{miembro.pedido.estado}}
                            </div>
                        </div>

                        <div layout="row" layout-align="space-between center"
                          ng-show="miembro.pedido != null && (miembro.pedido.productosResponse.length > 0  
                                   && (miembro.pedido.estado == 'CONFIRMADO' || miembro.pedido.estado == 'ABIERTO'))"
                          style="margin: 10px;">
                            <div>Total:</div>
                            <div>
                              <chq-price-product precio="totalForMember(miembro)" tamanho="1"></chq-price-product>
                            </div>
                        </div>
                        
                        <div layout="row" layout-align="space-around center" 
                             ng-show="miembro.pedido.productosResponse.length > 0 
                                      && miembro.pedido.estado == 'ABIERTO'
                                      && isLoggedUser(miembro)">
                            <md-button style="color: white" ng-click="confirmOrder(miembro.pedido)" class="confirm-order order-button-catalog">
                              <label translate="CONFIRMAR"></label>
                            </md-button>
                            <md-button style="color: white" ng-click="cancelOrder(miembro.pedido)" class="cancel-order order-button-catalog">
                              <label translate="CANCELAR"></label>
                            </md-button>
                        </div>

                        <md-list ng-show="miembro.pedido.estado == 'CONFIRMADO' || miembro.pedido.estado == 'ABIERTO'" class="md-dense" flex>
                            <md-list-item class="md-3-line" ng-repeat="item in miembro.pedido.productosResponse">
                                <img ng-src="{{urlBase}}{{item.imagen}}" class="md-avatar" alt="{{item.nombre}}" />
                                <div class="md-list-item-text" layout="column">
                                    {{ item.nombre }}
                                    <p>{{item.cantidad}} X $ {{ item.precio }} = ${{item.cantidad * item.precio }} </p>
                                </div>
                            </md-list-item>
                        </md-list>
                    </md-content>
                </md-tab>
            </md-tabs>
        </md-card-content>
    </md-card>
</div>