$colorUno: #412467;
$colorDos: #21B7EE;
$colorTres: #fb8c00;
$colorCancela: #d50000;
$colorConfirmar: #43a047;
$colorHoverConfirmar: #215023;
$colorHoverCancelar: #7F0000;
$colorBlanco: #FFFFFF;
// https://www.materialpalette.com/colors
.body {
	/*background: linear-gradient(#F7F7F7,#D7D7D7) !important;
	//background-color: #462342 !important;*/
}


/* clases generales */

// mostrar solo en responsive:

@media (min-width: 767px) {
  .ch-responsive-xl {
    display: inherit;
  }

  .ch-responsive-s {
    display: none !important;
  }

  .ch-responsive-layout {
    flex-direction: row !important;
  }
}

@media (max-width: 767px) {

  .ch-responsive-xl {
    display: none !important;
  }

  .ch-responsive-s {
    display: inherit;
  }

  .ch-responsive-layout {
    flex-direction: column !important;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
  }

  .ch-responsive-layout-start{
    align-items: flex-start !important;
  }

  .ch-home-ayudas-label{
    margin-top: 10px;
    margin-bottom: 10px !important;
  }

  .ch-home-ayudas-ayuda-icons-icon{
    margin-bottom: 5px;
  }

  .ch-home-apoyan-logos-logo-img{
    width: 280px !important;
  }
}


/* RESET */


md-list-item.md-3-line::before {
  min-height: 0px !important;
}

md-list-item.md-3-line > .md-no-style::before {
  min-height: 0px !important;
}

.color-uno{
	background-color: $colorUno !important;
}

.menu {
	//background: linear-gradient(#F7F7F7, #D7D7D7) !important;
	box-shadow: 0px 2px 2px rgba(0, 0, 0, .3);
	color: #ffffff !important;
    margin-top: 0;
    margin-bottom: 0;
    position: fixed;
    top: 0;
    z-index: 79;
    width: 100%;

    .material-icons{
      background-color: $colorUno !important;
    }
}

/* Barra de titulo de modal */

.ch-modal-title-bar{
  margin-top: 10px;
  margin-left: 16px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

.ch-dialog-modal-title{  
  font-size: 20px !important;
  font-weight: 300;
  color: #111;
}

.ch-dialog-modal-title-label{
  background-color: $colorBlanco;
  color: #98989b;
}

.boton-cerrar-card {
  position: absolute;
  border-radius: 50%;
  height: 32px;
  width: 32px;
  right: 5px;
  top: 5px;
  padding: 4px;
  color: rgb(66, 82, 110);
  background-color: white;
  transition: background-color .1s, color .1s;
  transition-property: background-color, color;
  transition-duration: 0.1s, 0.1s;
  transition-timing-function: ease, ease;
  transition-delay: 0s, 0s;
  cursor: pointer;
}

.boton-cerrar-card:hover {
  background-color: #d7d8dd;
  color: #2a2a2b;
}

///////////////////////////////////////////////

.ch-dialog-content{
  margin-top: 15px; 
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  padding-left: 16px;
  padding-right: 16px;
}


.titulo-pagina {
	//font-size: 50px;
}

.bg-white {
	background-color: $colorDos !important;
}

.btn-compra {
	background: $colorConfirmar !important;
	color: white;
	p {
		padding: 0;
		margin: 0;
	}
}

.btn-agregar {
	background: $colorDos !important;
	color: white;
}

.alt-catalogo {
	min-height: 440px !important;
}



.hoverable:hover{
box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);
}


.btn-confirmar{
	background: $colorConfirmar !important;
	color: white;
}

.md-accent {
	color: $colorDos !important;
}

.md-active {
	color: $colorDos !important;
}

.md-ink-bar {
	color: $colorUno !important;
	background: $colorDos !important;
}

md-tabs.md-default-theme .md-ink-bar,
md-tabs md-ink-bar {
	color: $colorUno !important;
	background-color: $colorDos !important;
}

.btn-compra {
	padding: 0 0.5em !important;
}

.md-theme-indigo {
	h1 {
		color: $colorUno !important;
	}
	color: $colorUno !important;
	background-color: $colorDos !important;
}


.footer {
  z-index: 10000;
	background-color: #2F3539 !important;
	background: #bdcbcd;
	padding: 1rem 2rem;
}


.chq-color-toolbar{
	background-color: $colorDos;
	color: $colorUno;
}

/* Paginacion */
.chq-paginador {
	width: 100vw;
	padding-top: 6rem !important;
	button.md-icon-button:nth-child(1){
		background-color: $colorDos;
		color: $colorUno;
	}
	button.md-icon-button:nth-child(10){
		background-color: $colorDos;
		color: $colorUno;
	}
	button.md-icon-button:nth-child(3){
		background-color: $colorUno;
		color: $colorDos;
	}
	.md-button.md-warn.md-raised:hover:not([disabled]){
		background-color: $colorUno;
		color: $colorDos;
		box-shadow: 0px 2px 3px rgba(0, 0, 0, .9);
	}
	.md-button.md-primary.md-raised:hover:not([disabled]){
		background-color: $colorDos;
		color: $colorUno;
		box-shadow: 0px 2px 3px rgba(0, 0, 0, .9);
	}
}

/* Mapa de direccion */

.md-button.md-primary.md-raised{
	background-color: $colorDos;
  color: white;
  cursor: pointer;
  height: 36px !important;
}

.md-button.md-primary.md-raised:hover:not([disabled]){
	background-color: white;
	color: $colorDos;
  transition: all 0.4s;
}
.chq-resaltado{
	color: #fff !important;
	background-color: gray !important;
}

.ch-button-content {
	color: white;
}

.ch-button-content:hover{
	color: $colorDos;
}

.img {
	width: 100%;
}

.popUp-domicilio {
	color: $colorUno;
	.md-title{
		background-color: $colorDos !important;
	}
	.md-button.confirma-domicilio{
		color: #fff;
		background-color: $colorConfirmar !important;
		&:hover{
			background-color: $colorDos !important;
			color: $colorUno;
			box-shadow: 0px 2px 3px rgba(0, 0, 0, .9);
		}
	}
    .md-button.cancela-domicilio{
		color: #fff;
		background-color: $colorCancela !important;
		&:hover{
			background-color: $colorUno !important;
			color: $colorDos;
			box-shadow: 0px 2px 3px rgba(0, 0, 0, .9);
		}
	}
}

.ch-error{
    color: $colorCancela !important;
    text-align: start;
}

.ch-error-input{
  animation-duration: 2s;
  animation-name: slidein;
}

@keyframes slidein {
  from {
    box-shadow: 0px 0px 15px 3px rgba(252,0,0,1);    
  }

  to {
    box-shadow: 0px 0px 15px 3px rgba(252,0,0,0);
  }
}

.ch-warn{
    color: #720000 !important;
    font-weight: bold;
    margin-left: 18%;
    margin-right: 18%;
    margin-top: 5%;
    margin-bottom: 5%;
}

.ch-warn-card-content{
  background-color: #47c1ff;
}


.ch-confirm-order{
  width: 900px; 
	color: $colorUno;
	.md-title{
		background-color: $colorDos !important;
	}
    .md-button.cancel-order{
		color: #fff;
		background-color: $colorCancela !important;
		&:hover{
			background-color: $colorUno !important;
			color: $colorDos;
			box-shadow: 0px 2px 3px rgba(0, 0, 0, .9);
		}
	}
    .md-button.back{
		color: #fff;
		background-color: $colorUno !important;
		&:hover{
			background-color: $colorUno !important;
			color: $colorDos;
			box-shadow: 0px 2px 3px rgba(0, 0, 0, .9);
		}
	}
    .md-button.next{
		color: #fff;
		background-color: $colorDos !important;
		&:hover{
			background-color: $colorDos !important;
			color: $colorUno;
			box-shadow: 0px 2px 3px rgba(0, 0, 0, .9);
		}
	}
	.md-button.confirm-order{
		color: #fff;
		background-color: $colorConfirmar !important;
		&:hover{
			background-color: #fff !important;
			color: $colorConfirmar;
			box-shadow: 0px 2px 3px rgba(0, 0, 0, .9);
		}
	}
    
    .md-button.go-profile{
		color: #fff;
		background-color: $colorTres !important;
		&:hover{
			background-color: $colorUno !important;
			color: $colorDos;
			box-shadow: 0px 2px 3px rgba(0, 0, 0, .9);
		}
	}
    .label.ch-errors{
        color: $colorCancela !important;
    }
}

.ch-select-address{
  flex: 50;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
}

.ch-select-address-item{
  flex: 1;
}

.ask-to-collaborate{
	color: $colorUno;
	.md-title{
		background-color: $colorDos !important;
	}
  .md-button.cancel{
		color: #fff;
		background-color: $colorCancela !important;
		&:hover{
			background-color: $colorUno !important;
			color: $colorDos;
			box-shadow: 0px 2px 3px rgba(0, 0, 0, .9);
		}
	}
  
	.md-button.confirm{
		color: #fff;
		background-color: $colorConfirmar !important;
		&:hover{
			background-color: #fff !important;
			color: $colorConfirmar;
			box-shadow: 0px 2px 3px rgba(0, 0, 0, .9);
		}
	}
}

.ch-cancel {
  color: #fff;
  background-color: $colorCancela !important;
  &:hover{
    background-color: $colorUno !important;
    color: $colorDos;
    box-shadow: 0px 2px 3px rgba(0, 0, 0, .9);
  }
}

.ch-confirm {
  color: #fff;
  background-color: $colorConfirmar !important;
  &:hover{
    background-color: #fff !important;
    color: $colorConfirmar;
    box-shadow: 0px 2px 3px rgba(0, 0, 0, .9);
  }
}

.ch-cancel {
  color: #fff;
  background-color: $colorCancela !important;
  &:hover{
    background-color: $colorHoverCancelar !important;
    box-shadow: 0px 2px 3px rgba(0, 0, 0, .9);
	}
}

.md-button.cancel-order.order-button-catalog{
	color: #fff;
		background-color: $colorCancela !important;
		&:hover{
			background-color: $colorHoverCancelar !important;
			box-shadow: 0px 2px 3px rgba(0, 0, 0, .9);
	}
}

.md-button.confirm-order.order-button-catalog{
	color: #fff;
	background-color: $colorConfirmar !important;
	&:hover{
		background-color: $colorHoverConfirmar !important;
		box-shadow: 0px 2px 3px rgba(0, 0, 0, .9);
	}
}

.btn-chq-ingresa{
	background-color: $colorUno !important;
	color: #ffffff !important;
	border: 2px solid #ffffff !important;
	border-radius: 2px !important;
	&:hover{
		color: $colorDos !important;
		border: 2px solid $colorDos !important;
		box-shadow: 0px 2px 3px rgba(0, 0, 0, .9)!important;
		text-shadow: 0px 2px 3px rgba(0, 0, 0, .9) !important;
	}
  
}


.puedeConfirmar .md-bar {
  background-color: rgb(67, 160, 71) !important;
}

.colorCero .md-bar {
  background-color: #990099 !important;
}

.colorUno .md-bar {
  background-color: #ff0000 !important;
}

.colorDos .md-bar {
  background-color: #ff6600 !important;
}

.colorTres .md-bar {
  background-color: #ffff00 !important;
}

.colorCuatro .md-bar {
  background-color: #0099ff !important;
}

.colorCinco .md-bar {
  background-color: #0000ff !important;
}

.impar {
  background-color: #e6f9ff !important;
}

.par {
  background-color: #ccf2ff !important;
}

.ch-estado-pedido {
    padding: 8px;
}

.ch-estado-pedido-abierto {
    color: $colorDos !important;
}

.ch-estado-pedido-cancelado {
    color: $colorUno !important;
}

.ch-estado-pedido-confirmado {
    color: $colorConfirmar !important;
}

.ch-estado-pedido-colectivo {
  margin: 8px;
}

/* Paneles laterales del catalogo */

.ch-catalog-items {
  margin-left: 260px;
  margin-right: 260px;
}

.ch-catalog-items-filter {
  height: 60px;
  margin: 0px;
}

.ch-catalog-controls {
  position: fixed;
  top: 118px;
  z-index: 10;
  width: 250px;
}
.ch-catalog-controls-left {
  left: 0px;
}
.ch-catalog-controls-right {
  right: 0px;
}

.ch-contexto-pedido-panel{
  max-height: 400px;
}

.ch-agrupation-selection-item {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.ch-agrupation-icon {
  margin-right: 8px;
}

.ch-agrupation-label {
  color: rgba(0, 0, 0, 0.87);
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px
}

.ch-contexto-pedido-panel-list{
  max-height: 274px;
  overflow: hidden;
}

.ch-contexto-pedido-panel-list-item {
  padding-left: 5px;
  padding-right: 5px;
}

.ch-contexto-pedido-descripcion {
  max-width: 329px;
}

/* Lista de grupos */

.ch-avatar-min {
  height: 40px;
  width: 40px;
  margin-right: 8px;
}

.ch-list-group-elem {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.ch-group-card{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  width: 100%;
  height: auto;
  transition: all .5s ease;
  overflow: hidden;
  background-color: #fff;
  border-radius: 3px;
  margin-top: 20px;
}
.ch-group-card:hover{
  background-color: rgba(255, 255, 255, 0.548);
  box-shadow:  1px 1px 6px rgba(0, 0, 0, 0.4);
  transition: all .5s ease;
}

.ch-group-card-data {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.ch-group-card-data-avatar{
  height: 40px;
  width: 40px;
  margin: 8px;
}

.ch-group-card-data-information {
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.ch-group-card-data-information-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.ch-group-card-data-information-primary{
  color: #21B7EE !important;
}

.ch-group-card-data-information-secondary{
  color: #9b9898 !important;  
  font-style: italic;
}

.ch-group-card-data-information-alias {
  margin-top: 8px;
}


.ch-group-card-data-information-description {
  margin-bottom: 4px;
  color: #9b9898 !important;  
  font-style: italic;
}


.ch-group-card-data-actions {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 767px) {
  
  .ch-group-card-data {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 12px !important;
  }

  .ch-group-card-data-actions {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
  }

  .ch-estado-pedido {
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .ch-grupo-monto-total {
    font-size: 14px !important;
  }

  .ch-group-action {
    flex: 1;
    font-size: 10px !important;
  }

}

// Ayudas

.ch-help-selection{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
}

.ch-help-selection-item{
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  margin-left: 15px;
  margin-right: 15px;
  max-width: 300px;
  cursor: pointer;
}

.ch-help-selection-item-content{
  flex: 1;
  background-color: $colorDos;
  color: white;
  padding-top: 30px;
  padding-bottom: 30px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}

.ch-help-selection-item-content-selected{
  background-color: rgb(0, 150, 204) !important;  
}

.ch-help-selection-item-content-icon{
  border-radius: 5px;
  padding: 2px;
  height: 30px;
  width: 30px;
  background-color: white;
}

.ch-help-selection-item-content-label{
  font-size: 22px;
  margin-left: 10px;
  cursor: pointer;
}

.ch-help-questions{
  align-self: center;
  width: 90%;
}

.ch-groups-help {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
}

.ch-groups-help-question {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  padding: 10px;
  padding-left: 15px;
}

.ch-groups-help-question-title {
  font-size: 16px;
  color: $colorDos;
}

.ch-groups-help-question-answer {
  margin-top: 8px;
  font-size: 14px;
  padding-bottom: 5px;
}


/* Pagina del grupo en particular */

.ch-group {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
}

.ch-group-info {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.ch-group-info-name {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
}



// Notificaciones

.angular-notifications-icon {
    right: 14px;
    top: 4px;
    border-radius: 50%;
    text-align: center;
    padding-left: 0px;
    padding-right: 1px;
    padding-top: 1px;
    min-width: 15px;
    height: 15px;
    line-height: 1.34;
    background: red;
    color: white;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default;
    font-size: 0.5em;
}

.ch-count-group-invitations {
  position: relative;
  left: 18px;
  top: 9px;
}

.listanombremobil .angular-notifications-icon{
    left: 85px;
    top: 10px;
    border-radius: 50%;
    text-align: center;
    padding-left: 1px;
    padding-right: 1px;
    padding-top: 1px;
    min-width: 15px;
    height: 15px;
    line-height: 1.34;
    background: red;
    color: white;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default;
    font-size: 0.75em;
}


.ch-arrow-list-container {
  display: flex;
  flex-direction: column;
  justify-content: start;
}
  
.ch-arrow-list-elem {
  height: 2rem;
  padding: 8px;
  text-align: center;
  cursor: pointer;
  border-left: 1px solid white;
}

.ch-arrow-list-elem-select {
  background: #58c1e8;
  color: #deebef;
}

.ch-arrow-list-elem-select:hover {
  background: #0392c6;
  color: #deebef;
  font-size: 18px;
  transition: 0.3s;  
}

.ch-arrow-list-elem-selected {
  width: 0px;
  height: 0px;
  border-left: 10px solid #0392c6;
  border-top: 1rem solid transparent;
  border-bottom: 1rem solid transparent;
}

.ch-arrow-list-elem-hide {
  background: #0392c6;
  color: #deebef;
}

/* loader */
.loading {
  position: fixed;
  z-index: 999;
  height: 2em;
  width: 2em;
  overflow: show;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.ch-loader {
  position: fixed;
  z-index: 999;
  height: 2em;
  width: 2em;
  overflow: show;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

/* Transparent Overlay */
.ch-loader:before {
  content: '';
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.3);
}

/* :not(:required) hides these rules from IE9 and below */
.ch-loader:not(:required) {
  /* hide "loading..." text */
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}

.ch-loader:not(:required):after {
  content: '';
  display: block;
  font-size: 10px;
  width: 1em;
  height: 1em;
  margin-top: -0.5em;
  -webkit-animation: spinner 1500ms infinite linear;
  -moz-animation: spinner 1500ms infinite linear;
  -ms-animation: spinner 1500ms infinite linear;
  -o-animation: spinner 1500ms infinite linear;
  animation: spinner 1500ms infinite linear;
  border-radius: 0.5em;
  -webkit-box-shadow: rgba(0, 0, 0, 0.75) 1.5em 0 0 0, rgba(0, 0, 0, 0.75) 1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) 0 1.5em 0 0, rgba(0, 0, 0, 0.75) -1.1em 1.1em 0 0, rgba(0, 0, 0, 0.5) -1.5em 0 0 0, rgba(0, 0, 0, 0.5) -1.1em -1.1em 0 0, rgba(0, 0, 0, 0.75) 0 -1.5em 0 0, rgba(0, 0, 0, 0.75) 1.1em -1.1em 0 0;
  box-shadow: rgba(0, 230, 230, 0.75) 1.5em 0 0 0, rgba(0, 0, 179, 0.75) 1.1em 1.1em 0 0, rgba(51, 0, 51, 0.75) 0 1.5em 0 0, rgba(230, 0, 0, 0.75) -1.1em 1.1em 0 0, rgba(255, 102, 0, 0.75) -1.5em 0 0 0, rgba(0, 153, 0, 0.75) -1.1em -1.1em 0 0, rgba(51, 0, 51, 0.75) 0 -1.5em 0 0, rgba(230, 0, 0, 0.75) 1.1em -1.1em 0 0;
}

/* Animation */

@-webkit-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-moz-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-o-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.ch-group-administrator-description {
  width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: start;
}
.ch-group-administrator-description-item {
  margin-top: 10px;
  margin-bottom: 10px;
}

.ch-icon-outlined {
  cursor: pointer;
  margin: 15px;
}


.ch-icon-outlined-content {
  cursor: pointer;
  color: $colorDos;
  font-size: 36px;
}

.ch-icon-outlined-content:hover {
  color: $colorUno;
}


/* HOME */

.chasqui-content-full-home-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  background-color: rgb(229, 229, 229);
  padding-right: 50px;
  padding-left: 50px;
  padding-bottom: 50px;
}

.ch-home-header{
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
}

.ch-home-header-name{
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  margin-top: 20px;
}

.ch-home-header-name-label{
  font-size: 18px; 
  text-transform: uppercase;
  margin-bottom: 15px;
}

.ch-home-header-name-label-2{  
  font-size: 28px;
}

.ch-home-header-filter{
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
}

.ch-home-header-filter-input{
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
}

.ch-home-header-filter-input-string{
  flex: 1;
  margin-bottom: 0px !important;
}

.ch-home-header-filter-input-selections{
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
}

.ch-home-header-filter-input-selections-options{
  flex: 1;
}

.ch-home-header-filter-confirm{
  flex: 1;
}

.ch-home-catalogs{
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
}

.ch-home-catalogs-unavailable{
  font-size: 18px;
  color: #9b9898;
  font-style: italic;
  margin: 40px;
  text-align: center;
}

.ch-home-catalogs-container{
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch !important;
  flex-wrap: wrap;
}

.ch-home-catalogs-catalog{
  flex: 1;
  max-width: 280px;
  background-color: white;
  border-radius: 10px;
  margin: 15px;
  background: #F1F1F1;
  transition: all 0.3s ease-out;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
}

@media (max-width: 767px) {
  .ch-home-catalogs-catalog{
    margin-left: 0px !important;
  }
}

.ch-home-catalogs-catalog:hover{
  background: rgb(222, 212, 255);
  cursor: pointer;
  transition: all 0.5s ease-out;
}

.ch-home-catalogs-catalog-img{
  border-radius: 10px 10px 0px 0px;
  width: 280px;
  height: 180px !important;
}

.ch-home-catalogs-catalog-details{
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 15px; // es solo 5 porque los elementos tienen 5px de margin-bottom
}

.ch-home-catalogs-catalog-details-type-delivery{
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  position: relative;
  height: 24px;
}

.ch-home-catalogs-catalog-details-type-delivery-contents{
  width: 260px;
  position: absolute;
  top: -15px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

.ch-home-catalogs-catalog-details-type{
  width: 190px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
}

.ch-home-catalogs-catalog-details-type-label{
  background-color: rgb(65, 36, 103);
  padding-left: 8px !important;
  padding-right: 8px !important;
}

.ch-home-catalog-tag{
  padding: 5px;
  border-radius: 3px;
  text-transform: uppercase;
  color: white;
}

.ch-home-catalogs-catalog-details-delivery{
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end;
}

.ch-home-catalogs-catalog-tag-container{
  height: 30px !important;
  width: 30px !important;
  border-radius: 5px;
  background-color: rgb(229, 229, 229);
  color: rgb(255, 145, 28);
  margin-left: 5px;
}


.ch-home-catalogs-catalog-details-name{
  font-size: 20px;
  font-weight: 550;
  margin-top: 10px;
  margin-bottom: 20px;
  height: 20px;
}

.ch-home-catalogs-catalog-details-zones-agrupations{
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 10px;
}

.ch-home-catalogs-catalog-details-zones{
  width: 190px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
}

.ch-home-catalogs-catalog-details-zones-zone{
  flex: 0 1 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(72, 187, 120);
  margin-bottom: 5px;
  margin-right: 5px;
  max-height: 20px;
}

.ch-home-catalogs-catalog-details-zones-zone-label{
  font-size: 12px;
}

.ch-home-catalogs-catalog-details-agrupations{
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-start;
  flex-wrap: wrap;
}

.ch-home-catalogs-catalog-details-agrupations-agrupation{
  flex: 0 1 auto;
}

.ch-home-catalogs-catalog-details-sells{
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
}

.ch-home-catalogs-catalog-details-sells-sell{
  flex: 0 1 auto;
  border-radius: 5px;
  padding: 2px;
  border: 1px solid rgb(229, 229, 229);
  margin-bottom: 5px;
  margin-right: 5px;
}

.ch-home-catalogs-catalog-details-sells-sell-label{

}

.ch-home-ayudas{
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
  margin-bottom: 40px;
}

.ch-home-ayudas-ayuda{
  flex: 1;
  display: flex;
  flex-direction: column !important;
  justify-content: space-between;
  align-items: flex-start;
}

.ch-home-ayudas-label{
  font-size: 20px;
  font-weight: 500;
  color: #6b6969;
  margin-bottom: 15px;
}

.ch-home-ayudas-ayuda-icons{
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.ch-home-ayudas-ayuda-icons-icon{
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-right: 10px;
}

.ch-home-ayudas-ayuda-icons-icon-container{
  border-radius: 5px;
  padding: 2px;
  border: 1px solid rgb(184, 184, 184);
  height: 30px;
  width: 30px;
}

.ch-home-ayudas-ayuda-icons-icon-label{
  flex: 1;
  font-size: 16px;
  font-weight: 600;
  color: #6b6969;
  margin-right: 15px;
  margin-left: 5px; 
  white-space: nowrap;
}

.ch-home-chasqui-banner{
  flex: 1;
  background: rgb(15, 175, 3);
  height: 116px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  margin-top: 40px;
  margin-bottom: 40px;
}

.ch-home-chasqui-banner-content{
  flex: 1;
  margin: 10px;
  text-align: center;
  border: 5px solid white;
  color: white;
  padding: 20px;
  font-size: 24px;
}

.ch-home-chasqui-diferente{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 40px;
  margin-bottom: 40px;
}


.ch-home-chasqui-diferente-descripcion{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}


.ch-home-chasqui-diferente-descripcion-titulo{
  font-size: 28px;
  margin-bottom: 20px;
  line-height: 1.2;
}

.ch-home-chasqui-diferente-descripcion-contenido{
  font-size: 12px;
  margin-top: 10px;
}

.ch-home-chasqui-diferente-logo{
  margin-left: 130px;
  margin-right: 65px;
}

.ch-home-apoyan{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
}

.ch-home-apoyan-label{
  font-size: 28px;
  margin-bottom: 20px;
  line-height: 1.2;
}

.ch-home-apoyan-logos{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
}

.ch-home-apoyan-logos-logo{
  flex: 1;
  //margin-right: 5px;
  margin-bottom: 10px;
}

.ch-home-apoyan-logos-logo-img{
  width: 300px;
  height: 177.2PX;
}

// Notificaciones

.ch-notifications-container{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  margin-bottom: 20px;
}

.ch-notification{
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;  
  transition: all .5s ease;
  overflow: hidden;
  background-color: #fff;
  border-radius: 3px;
  margin-top: 10px;
  min-height: 48px;
  padding: 5px;
}

.ch-notification:hover{
  background-color: rgba(255, 255, 255, 0.548);
  box-shadow:  1px 1px 6px rgba(0, 0, 0, 0.4);
  transition: all .5s ease;
}

.ch-notification-info{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  align-self: flex-start; 
}

.ch-notification-info-icon{
  height: 40px;
  width: 40px;
  font-size: 40px;
  margin-left: 5px;
  margin-right: 10px;
}

.ch-notification-info-text{
  align-self: flex-start; 
}


// Animaciones

.fade-in-left{
  animation-duration: 0.5s;
  animation-name: fade-in-left;
}

@keyframes fade-in-left {
  0% {
    margin-left: 300px;
    opacity: 0%;
  }
  100% {
    margin-left: 0px;
    opacity: 100%;
  }
}


.extend-top{
  animation-duration: 1s;
  animation-name: extend-top;
}

@keyframes extend-top{
  0% {
    height: 0%;
    opacity: 0%;
  }
  100% {
    height: 100%;
    opacity: 100%;
  }
}

// Confirmacion de compra

.ch-confirm-order-steps{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.ch-confirm-order-steps-step{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.ch-confirm-order-steps-step-label{
  font-size: 28px;
  font-style: italic;
  font-weight: 250;
  margin: 10px;
}

.ch-confirm-order-steps-step-label-selected {
  font-weight: 600;
}

.ch-confirm-order-steps-step-label-divider{
  font-size: 28px;
  font-style: italic;
}

.ch-confirm-order-mandatory-label{
  flex: 1;
  font-size: 20px;
}

.ch-confirm-order-underline{
  padding-bottom: 10px;
  border-color: rgba(121, 121, 121, 0.3);
  border-width: 0px 0px 2px 0px;
  border-style: solid;
  font-style: italic;
}

// comunes a todas las pantallas de confirmacion

.ch-confirm-order-container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
}

.ch-confirm-order-left-panel{
  flex: 5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  padding-right: 20px;
  border-color: rgba(121, 121, 121, 1);
  border-width: 0px 2px 0px 0px;
  border-style: solid;
}

.ch-confirm-order-right-panel{
  flex: 3;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  padding-left: 20px;
  margin: -2px;
  border-color: rgba(121, 121, 121, 1);
  border-width: 0px 0px 0px 2px;
  border-style: solid;
}


.ch-confirm-order-actions{
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}


// ch-confirm-order-summary

.ch-confirm-order-left-panel-list{
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
}

.ch-confirm-order-left-panel-list-column{
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
}

.ch-confirm-order-left-panel-list-column-label{
  font-size: 20px;
  padding-bottom: 10px;
  border-color: rgba(121, 121, 121, 0.3);
  border-width: 0px 0px 2px 0px;
  border-style: solid;
  padding-right: 15px;
}

.ch-confirm-order-left-panel-list-column-item{
  height: 60px;
  border-color: rgba(121, 121, 121, 0.3);
  border-width: 0px 0px 2px 0px;
  border-style: solid;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  padding-top: 10px;
  padding-bottom: 10px;
}

.ch-confirm-order-left-panel-list-column-item-data{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  overflow: hidden;
}

.ch-confirm-order-left-panel-list-column-item-img{
  height: 40px;
  margin-right: 10px;
}

.ch-confirm-order-left-panel-list-column-item-label{
  font-size: 18px;
  margin-right: 15px;
}

.ch-confirm-order-left-panel-list-column-item-price{
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
}

.ch-confirm-order-left-panel-list-column-item-count{
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
}

.ch-confirm-order-left-panel-list-column-item-total{
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
}

.ch-confirm-order-left-panel-list-row{
  flex: 1;
  border-color: rgba(121, 121, 121, 0.3);
  border-width: 0px 0px 2px 0px;
  border-style: solid;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  padding-top: 10px;
  padding-bottom: 10px;
}

.ch-confirm-order-left-panel-list-row-explanation{
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: 18px;
  margin-bottom: 18px;
}

.ch-confirm-order-left-panel-list-row-input{
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
}
.ch-confirm-order-summary-total{
}

.ch-confirm-order-summary-total-header{
  flex: 1;
  font-size: 20px;
  padding-bottom: 10px;
  border-color: rgba(121, 121, 121, 0.3);
  border-width: 0px 0px 2px 0px;
  border-style: solid;  
}

.ch-confirm-order-summary-total-header-label{
  font-size: 18px;
}

.ch-confirm-order-summary-total-item{
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  border-color: rgba(121, 121, 121, 0.3);
  border-width: 0px 0px 2px 0px;
  border-style: solid;
  font-size: 18px;
  padding-top: 10px;
  padding-bottom: 10px;
}


.ch-confirm-order-summary-total-absolut{
  height: 40px !important;
}

.ch-confirm-order-summary-total-absolut-label{
  font-size: 18px;
}

.ch-confirm-order-right-panel-map{
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  width: 440px;
  height: 300px;
}

.ch-confirm-order-right-panel-map-iframe{
}


// Filtros de catalogo

.ch-filters-medals{
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
}

.ch-filters-medals-medal{
  width: 40 !important;
  height: 40 !important;
  margin: 5px;
  margin-left: 0px;
  cursor: pointer;
  transition: all .7s ease;
  opacity: 0.4;
}

.ch-filters-medals-medal:hover{
  transform: rotate(50deg);
}

.ch-filters-medals-medal-selected{
  opacity: 1;
}