$colorUno: #412467;
$colorDos: #21B7EE;
$colorTres: #fb8c00;
$colorCancela: #d50000;
$colorConfirmar: #43a047;
// https://www.materialpalette.com/colors
.body {
	/*background: linear-gradient(#F7F7F7,#D7D7D7) !important;
	//background-color: #462342 !important;*/
}

.color-uno{
	background-color: $colorUno !important;
}

.menu {
	//background: linear-gradient(#F7F7F7, #D7D7D7) !important;
	background-color: $colorUno;
	box-shadow: 0px 2px 2px rgba(0, 0, 0, .3);
	color: #ffffff !important;
    margin-top: 0;
    margin-bottom: 0;
    position: fixed;
    top: 0;
    z-index: 79;
    width: 100%;

    .material-icons{
		background-color: $colorUno !important;
	}
}

// Barra de titulo de las ventanas modales
.ch-dialog.md-toolbar-tools{
    background-color: $colorDos;
}

.titulo-pagina {
	//font-size: 50px;
}

.bg-white {
	background-color: $colorUno !important;
}

.btn-compra {
	background: $colorConfirmar !important;
	color: white;
	p {
		padding: 0;
		margin: 0;
	}
}

.btn-agregar {
	background: $colorDos !important;
	color: white;
}

.alt-catalogo {
	min-height: 440px !important;
}



.hoverable:hover{
box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);
}


.btn-confirmar{
	background: $colorConfirmar !important;
	color: white;
}

.md-accent {
	color: $colorDos !important;
}

.md-active {
	color: $colorDos !important;
}

.md-ink-bar {
	color: $colorUno !important;
	background: $colorDos !important;
}

md-tabs.md-default-theme .md-ink-bar,
md-tabs md-ink-bar {
	color: $colorUno !important;
	background-color: $colorDos !important;
}

.btn-compra {
	padding: 0 0.5em !important;
}

.md-theme-indigo {
	h1 {
		color: $colorUno !important;
	}
	color: $colorUno !important;
	background-color: $colorDos !important;
}


.footer {
	background-color: #2F3539 !important;
	padding: 1rem 2rem;
}


.chq-color-toolbar{
	background-color: $colorDos;
	color: $colorUno;
}

/* Paginacion */
.chq-paginador {
	width: 100vw;
	padding-top: 6rem !important;
	button.md-icon-button:nth-child(1){
		background-color: $colorDos;
		color: $colorUno;
	}
	button.md-icon-button:nth-child(10){
		background-color: $colorDos;
		color: $colorUno;
	}
	button.md-icon-button:nth-child(3){
		background-color: $colorUno;
		color: $colorDos;
	}
	.md-button.md-warn.md-raised:hover:not([disabled]){
		background-color: $colorUno;
		color: $colorDos;
		box-shadow: 0px 2px 3px rgba(0, 0, 0, .9);
	}
	.md-button.md-primary.md-raised:hover:not([disabled]){
		background-color: $colorDos;
		color: $colorUno;
		box-shadow: 0px 2px 3px rgba(0, 0, 0, .9);
	}
}

/* Mapa de direccion */

.md-button.md-primary.md-raised{
	background-color: $colorDos;
	color: $colorUno;
}

.md-button.md-primary.md-raised:hover:not([disabled]){
	background-color: $colorUno;
	color: $colorDos;
	transition: all 0.4s;
}
.chq-resaltado{
	color: #fff !important;
	background-color: gray !important;
}



.img {
	width: 100%;
}

.popUp-domicilio {
	color: $colorUno;
	.md-title{
		background-color: $colorDos !important;
	}
	.md-button.confirma-domicilio{
		color: #fff;
		background-color: $colorConfirmar !important;
		&:hover{
			background-color: $colorDos !important;
			color: $colorUno;
			box-shadow: 0px 2px 3px rgba(0, 0, 0, .9);
		}
	}
    .md-button.cancela-domicilio{
		color: #fff;
		background-color: $colorCancela !important;
		&:hover{
			background-color: $colorUno !important;
			color: $colorDos;
			box-shadow: 0px 2px 3px rgba(0, 0, 0, .9);
		}
	}
}

.ch-error{
    color: $colorCancela !important;
}

.confirm-order{
	color: $colorUno;
	.md-title{
		background-color: $colorDos !important;
	}
    .md-button.cancel-order{
		color: #fff;
		background-color: $colorCancela !important;
		&:hover{
			background-color: $colorUno !important;
			color: $colorDos;
			box-shadow: 0px 2px 3px rgba(0, 0, 0, .9);
		}
	}
    .md-button.back{
		color: #fff;
		background-color: $colorUno !important;
		&:hover{
			background-color: $colorUno !important;
			color: $colorDos;
			box-shadow: 0px 2px 3px rgba(0, 0, 0, .9);
		}
	}
    .md-button.next{
		color: #fff;
		background-color: $colorDos !important;
		&:hover{
			background-color: $colorDos !important;
			color: $colorUno;
			box-shadow: 0px 2px 3px rgba(0, 0, 0, .9);
		}
	}
	.md-button.confirm-order{
		color: #fff;
		background-color: $colorConfirmar !important;
		&:hover{
			background-color: #fff !important;
			color: $colorConfirmar;
			box-shadow: 0px 2px 3px rgba(0, 0, 0, .9);
		}
	}
    
    .md-button.go-profile{
		color: #fff;
		background-color: $colorTres !important;
		&:hover{
			background-color: $colorUno !important;
			color: $colorDos;
			box-shadow: 0px 2px 3px rgba(0, 0, 0, .9);
		}
	}
    .label.ch-errors{
        color: $colorCancela !important;
    }
}

.btn-chq-ingresa{
	background-color: $colorUno !important;
	color: #ffffff !important;
	border: 2px solid #ffffff !important;
	border-radius: 2px !important;
	&:hover{
		color: $colorDos !important;
		border: 2px solid $colorDos !important;
		box-shadow: 0px 2px 3px rgba(0, 0, 0, .9)!important;
		text-shadow: 0px 2px 3px rgba(0, 0, 0, .9) !important;
	}
  
}


.puedeConfirmar .md-bar {
  background-color: rgb(67, 160, 71) !important;
}

.colorCero .md-bar {
  background-color: #990099 !important;
}

.colorUno .md-bar {
  background-color: #ff0000 !important;
}

.colorDos .md-bar {
  background-color: #ff6600 !important;
}

.colorTres .md-bar {
  background-color: #ffff00 !important;
}

.colorCuatro .md-bar {
  background-color: #0099ff !important;
}

.colorCinco .md-bar {
  background-color: #0000ff !important;
}

.impar {
  background-color: #e6f9ff !important;
}


.par {
  background-color: #ccf2ff !important;
}